openapi: 3.0.3
info:
  title: Hint Health AccountAccessToken CancellationReason API
  description: REST API providing programmatic access to Hint Health's direct primary care platform, covering patient and membership management, billing, charges, invoices, clinical data, practice configuration, partner integrations, and webhook event delivery.
  version: '1.0'
  contact:
    name: Hint Health Developer Support
    email: devsupport@hint.com
    url: https://developers.hint.com
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: CancellationReason
paths:
  /provider/cancellation_reasons:
    get:
      tags:
      - CancellationReason
      operationId: CancellationReason.ListCancellationReasons
      summary: List All CancellationReasons
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Public.CancellationReasonBlueprint_all'
              example:
              - id: cnr-ab12C345DeF6
                description: Moving away
components:
  schemas:
    Public.CancellationReasonBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          description:
            type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
