openapi: 3.2.0
info:
  title: Hint Health Invoice API
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-refined-note:
  - x-api-evangelist-harvest differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Invoice across 2 of this provider''s published API definitions: hint-health-hint-health-api-openapi.yml, hint-health-partner-endpoints-2026-07-01-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
tags:
- name: Invoice
paths:
  /provider/companies/{company_id}/invoices:
    get:
      tags:
      - Invoice
      operationId: Invoice.ListAllInvoices
      summary: List All Invoices
      description: ''
      parameters:
      - name: company_id
        in: path
        required: true
        description: Unique Company ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
              - id: inv-ab12C345DeF6
                amount_in_cents: 20000
                human_status: issued
                invoice_date: '2017-02-01'
                invoice_number: 1
                paid_at: null
                paid_in_cents: 0
                company:
                  id: com-ab12C345DeF6
                  name: Schmoogle Inc.
                  owner:
                    id: user-ab12C345DeF6
                    email: fixture@example.com
                    first_name: Joe
                    last_name: Blogs
                    name: Joe Blogs
                    phones: []
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
  /provider/companies/{company_id}/invoices/{id}:
    get:
      tags:
      - Invoice
      operationId: Invoice.ShowInvoice
      summary: Show Invoice
      description: ''
      parameters:
      - name: company_id
        in: path
        required: true
        description: Unique Company ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Invoice ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                id: inv-ab12C345DeF6
                amount_in_cents: 20000
                human_status: issued
                invoice_date: '2017-02-01'
                invoice_number: 1
                paid_at: null
                paid_in_cents: 0
                company:
                  id: com-ab12C345DeF6
                  name: Schmoogle Inc.
                  owner:
                    id: user-ab12C345DeF6
                    email: fixture@example.com
                    first_name: Joe
                    last_name: Blogs
                    name: Joe Blogs
                    phones: []
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
x-refined-from:
- hint-health-hint-health-api-openapi.yml
- hint-health-partner-endpoints-2026-07-01-openapi.yml
