openapi: 3.2.0
info:
  title: Hint Health Interaction Notifications API
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-refined-note:
  - x-api-evangelist-harvest differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged InteractionNotifications across 2 of this provider''s published API definitions: hint-health-hint-health-api-openapi.yml, hint-health-partner-endpoints-2026-07-01-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
tags:
- name: InteractionNotifications
paths:
  /provider/interactions/{interaction_id}/notifications:
    post:
      tags:
      - InteractionNotifications
      operationId: InteractionNotifications.CreateInteractionNotification
      summary: Create Interaction Notification
      description: ''
      parameters:
      - name: interaction_id
        in: path
        required: true
        description: Unique Interaction ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.InteractionNotificationBlueprint_one'
              example:
                id: inter-ab12C345DeF6
                title: 'Lab #123456'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.Interactions.NotificationsController.create_body'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
components:
  schemas:
    Public.InteractionNotificationBlueprint_one:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
    Provider.Interactions.NotificationsController.create_body:
      title: Create_InteractionNotification
      type: object
      properties:
        title:
          type: string
          description: The title of the interaction notification.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
x-refined-from:
- hint-health-hint-health-api-openapi.yml
- hint-health-partner-endpoints-2026-07-01-openapi.yml
