openapi: 3.2.0
info:
  version: '2026-07-01'
  title: Partner Endpoints Webhook Request API
  description: Hint Health API
  contact:
    name: Hint
    email: devsupport@hint.com
    url: https://developers.hint.com
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-api-evangelist-harvest:
    generated: '2026-08-15'
    method: searched
    source: https://developers.hint.com/reference/<slug>.md (204 pages indexed by https://developers.hint.com/llms.txt)
    note: 'Assembled from the per-endpoint OpenAPI 3.1 documents Hint publishes verbatim inside each ReadMe reference page''s ''# OpenAPI definition'' fenced JSON block. Every path item, schema, tag and server value is Hint''s own text; only the union of paths and components was computed. Ownership is not in question: info.title ''Partner Endpoints'', info.contact devsupport@hint.com, info.termsOfService https://www.hint.com/terms and servers api.sandbox.hint.com all name Hint Health.'
    pages_fetched: 204
    pages_carrying_a_spec: 200
    operations: 200
    supersedes: openapi/_original/hint-health-hint-health-api-openapi.yml (harvested 2026-06-13, 153 operations)
    follow_up: NOT yet split into per-tag specs and deliberately NOT wired into apis.yml — the 49 refined specs in openapi/ still derive from the June harvest. Re-run refine-openapis to re-split from this document and pick up the 47 operations the catalogue is missing (appointments, appointment types, communication authorizations, the partner-invisible clinical chart endpoints, and the products/installations/backends marketplace surface).
servers:
- url: https://api.sandbox.hint.com/api
tags:
- name: WebhookRequest
  description: ''
paths:
  /partner/webhook_requests:
    get:
      tags:
      - WebhookRequest
      operationId: WebhookRequest.ListWebhookRequests
      summary: List Webhook Requests
      description: ''
      parameters:
      - name: limit
        in: query
        required: false
        description: Allows limiting the number of webhook requests returned.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Allows offsetting the start of the returned page.
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        required: false
        description: ' Filter by delivery status.'
        schema:
          type: string
          enum:
          - pending
          - attempted
          - delivered
          - retrying
          - failed
          - duplicate
          - non_requestable
      - name: event_type
        in: query
        required: false
        description: Filter by event type (e.g. `patient.created`).
        schema:
          type: string
      - name: attempts
        in: query
        required: false
        description: Filter by attempt count.
        schema:
          type: integer
          format: int32
      - name: created_at
        in: query
        required: false
        description: Allows filtering by date or time. Accepts an object with allowed keys of [gte, gt, lte, lt] and a value of the date or time in iso8601 format. See [advanced querying](https://developers.hint.com/reference/making-requests#advanced-querying) for more information.
        schema:
          type: string
          format: date-time
      - name: delivered_at
        in: query
        required: false
        description: Same shape as `created_at`.
        schema:
          type: string
          format: date-time
      - name: webhook_endpoint
        in: query
        required: false
        description: Filter by webhook endpoint id (`whep-…`).
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.WebhookRequestBlueprint_all'
              example:
              - attempts: 0
                created_at: '2017-02-05T06:23:00.000000-08:00'
                delivered_at: null
                event_type: patient.created
                last_attempted_at: null
                last_response: null
                last_status_code: null
                payload: null
                status: pending
                webhook_endpoint:
                  id: whep-ab12C345DeF6
                  webhook_url: https://www.awesome_partner.com/webhook_endpoint_url_1
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  updated_at: '2017-02-05T06:23:00.000000-08:00'
                  last_delivered_at: null
                  partner_backend:
                    id: pbnd-ab12C345DeF6
                    name: Default
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
components:
  schemas:
    Public.WebhookEndpointBlueprint_shared:
      type: object
      properties:
        id:
          type: string
        webhook_url:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        last_delivered_at:
          type: string
        partner_backend:
          $ref: '#/components/schemas/Public.BackendBlueprint_min'
    Public.BackendBlueprint_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.WebhookRequestBlueprint_all:
      type: array
      items:
        type: object
        properties:
          attempts:
            type: string
          created_at:
            type: string
          delivered_at:
            type: string
          event_type:
            type: string
          last_attempted_at:
            type: string
          last_response:
            type: string
          last_status_code:
            type: string
          payload:
            type: string
          status:
            type: string
          webhook_endpoint:
            $ref: '#/components/schemas/Public.WebhookEndpointBlueprint_shared'
  securitySchemes:
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
