openapi: 3.2.0
info:
  title: Hint Health Sponsorship API
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-refined-note:
  - x-api-evangelist-harvest differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Sponsorship across 2 of this provider''s published API definitions: hint-health-hint-health-api-openapi.yml, hint-health-partner-endpoints-2026-07-01-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
tags:
- name: Sponsorship
paths:
  /provider/companies/{company_id}/sponsorships:
    post:
      tags:
      - Sponsorship
      operationId: Sponsorship.CreateSponsorship
      summary: Create Sponsorship
      description: ''
      parameters:
      - name: company_id
        in: path
        required: true
        description: Unique Company ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                id: creg-ab12C345DeF6
                external_id: ext_id_from_another_system012345
                is_subscriber: false
                type: spouse
                family:
                  id: cac-ab12C345DeF6
                patient:
                  id: pat-ab12C345DeF6
                  name: oxana renquist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.CompanySponsorshipsController.create_body'
      security:
      - BearerAuth: []
    get:
      tags:
      - Sponsorship
      operationId: Sponsorship.ListSponsorships
      summary: List All Sponsorhips
      description: ''
      parameters:
      - name: company_id
        in: path
        required: true
        description: Unique Company ID
        schema:
          type: string
      - name: family_id
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
              - id: creg-ab12C345DeF6
                external_id: ext_id_from_another_system012345
                is_subscriber: false
                type: spouse
                family:
                  id: cac-ab12C345DeF6
                patient:
                  id: pat-ab12C345DeF6
                  name: oxana renquist
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
  /provider/companies/{company_id}/sponsorships/{id}:
    delete:
      tags:
      - Sponsorship
      operationId: Sponsorship.DestroySponsorship
      summary: Destroy Sponsorship
      description: If the subscriber is destroyed all dependents will be destroyed.
      parameters:
      - name: company_id
        in: path
        required: true
        description: Unique Company ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Sponsorship ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                id: creg-ab12C345DeF6
                external_id: ext_id_from_another_system012345
                is_subscriber: false
                type: spouse
                family:
                  id: cac-ab12C345DeF6
                patient:
                  id: pat-ab12C345DeF6
                  name: oxana renquist
      security:
      - BearerAuth: []
    get:
      tags:
      - Sponsorship
      operationId: Sponsorship.ShowSponsorhip
      summary: Show Sponsorship
      description: ''
      parameters:
      - name: company_id
        in: path
        required: true
        description: Unique Company ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Sponsorship ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                id: creg-ab12C345DeF6
                external_id: ext_id_from_another_system012345
                is_subscriber: false
                type: spouse
                family:
                  id: cac-ab12C345DeF6
                patient:
                  id: pat-ab12C345DeF6
                  name: oxana renquist
      security:
      - BearerAuth: []
    patch:
      tags:
      - Sponsorship
      operationId: Sponsorship.UpdateSponsorship
      summary: Update Sponsorship
      description: ''
      parameters:
      - name: company_id
        in: path
        required: true
        description: Unique Company ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Sponsorship ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                id: creg-ab12C345DeF6
                external_id: ext_id_from_another_system012345
                is_subscriber: false
                type: spouse
                family:
                  id: cac-ab12C345DeF6
                patient:
                  id: pat-ab12C345DeF6
                  name: oxana renquist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.CompanySponsorshipsController.update_body'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
components:
  schemas:
    Association:
      type: object
      properties:
        id:
          type: string
      required:
      - id
    Provider.CompanySponsorshipsController.create_body:
      title: Create_Sponsorship
      type: object
      properties:
        is_subscriber:
          type: boolean
          description: Currently only employees may be subscribers
        type:
          type: string
          description: May be one of "employee", "spouse", or "child"
        external_id:
          type: string
        patient:
          $ref: '#/components/schemas/Association'
        family:
          $ref: '#/components/schemas/Association'
          description: This will be returned to you upon creation of the employee. This is only required when creating dependents.
      required:
      - is_subscriber
      - type
      - patient
    Provider.CompanySponsorshipsController.update_body:
      title: Update_Sponsorship
      type: object
      description: Subscribers type can not be updated.
      properties:
        type:
          type: string
          description: May be one of "spouse", or "child"
        external_id:
          type: string
      required:
      - type
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
x-refined-from:
- hint-health-hint-health-api-openapi.yml
- hint-health-partner-endpoints-2026-07-01-openapi.yml
