openapi: 3.0.3
info:
  title: Hint Health AccountAccessToken Invoice API
  description: REST API providing programmatic access to Hint Health's direct primary care platform, covering patient and membership management, billing, charges, invoices, clinical data, practice configuration, partner integrations, and webhook event delivery.
  version: '1.0'
  contact:
    name: Hint Health Developer Support
    email: devsupport@hint.com
    url: https://developers.hint.com
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Invoice
paths:
  /provider/companies/{company_id}/invoices:
    get:
      tags:
      - Invoice
      operationId: Invoice.ListAllInvoices
      summary: List All Invoices
      description: ''
      parameters:
      - name: company_id
        in: path
        required: true
        description: Unique Company ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
              - id: inv-ab12C345DeF6
                amount_in_cents: 20000
                human_status: issued
                invoice_date: '2017-02-01'
                invoice_number: 1
                paid_at: null
                paid_in_cents: 0
                company:
                  id: com-ab12C345DeF6
                  name: Schmoogle Inc.
                  owner:
                    id: user-ab12C345DeF6
                    email: fixture@example.com
                    first_name: Joe
                    last_name: Blogs
                    name: Joe Blogs
                    phones: []
  /provider/companies/{company_id}/invoices/{id}:
    get:
      tags:
      - Invoice
      operationId: Invoice.ShowInvoice
      summary: Show Invoice
      description: ''
      parameters:
      - name: company_id
        in: path
        required: true
        description: Unique Company ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Invoice ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                id: inv-ab12C345DeF6
                amount_in_cents: 20000
                human_status: issued
                invoice_date: '2017-02-01'
                invoice_number: 1
                paid_at: null
                paid_in_cents: 0
                company:
                  id: com-ab12C345DeF6
                  name: Schmoogle Inc.
                  owner:
                    id: user-ab12C345DeF6
                    email: fixture@example.com
                    first_name: Joe
                    last_name: Blogs
                    name: Joe Blogs
                    phones: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
