openapi: 3.2.0
info:
  title: Hint Health Form Response API
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-refined-note:
  - x-api-evangelist-harvest differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged FormResponse across 2 of this provider''s published API definitions: hint-health-hint-health-api-openapi.yml, hint-health-partner-endpoints-2026-07-01-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
tags:
- name: FormResponse
paths:
  /provider/patients/{patient_id}/form_responses:
    get:
      tags:
      - FormResponse
      operationId: FormResponse.ListAllFormResponses
      summary: List All Form Responses
      description: ''
      parameters:
      - name: patient_id
        in: path
        required: true
        description: Unique Patient ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Public.FormResponseBlueprint_all'
              example:
              - id: frmr-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                form:
                  id: form-ab12C345DeF6
                  description: null
                  name: Form 1
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  form_items:
                  - id: frmi-ab12C345DeF6
                    description: null
                    help_text: null
                    item_type: string
                    title: Question 1
                form_response_items:
                - id: frmri-ab12C345DeF6
                  answer: Answer 1
                  respondent:
                    id: pat-ab12C345DeF6
                subject:
                  id: pat-ab12C345DeF6
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
  /provider/patients/{patient_id}/form_responses/{id}:
    get:
      tags:
      - FormResponse
      operationId: FormResponse.ShowFormResponse
      summary: Show Form Response
      description: ''
      parameters:
      - name: patient_id
        in: path
        required: true
        description: Unique Patient ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Form Response ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.FormResponseBlueprint_one'
              example:
                id: frmr-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                form:
                  id: form-ab12C345DeF6
                  description: null
                  name: Form 2
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  form_items:
                  - id: frmi-ab12C345DeF6
                    description: null
                    help_text: null
                    item_type: string
                    title: Question 2
                form_response_items:
                - id: frmri-ab12C345DeF6
                  answer: Answer 2
                  respondent:
                    id: pat-ab12C345DeF6
                subject:
                  id: pat-ab12C345DeF6
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
components:
  schemas:
    Public.FormResponseItemBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        answer:
          type: string
        respondent:
          $ref: '#/components/schemas/Common.RecordBlueprint_min'
    Public.FormBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        name:
          type: string
        created_at:
          type: string
          format: date-time
        form_items:
          $ref: '#/components/schemas/Public.FormItemBlueprint_leaf'
    Public.FormResponseBlueprint_one:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        form:
          $ref: '#/components/schemas/Public.FormBlueprint_leaf'
        form_response_items:
          $ref: '#/components/schemas/Public.FormResponseItemBlueprint_leaf'
        subject:
          $ref: '#/components/schemas/Common.RecordBlueprint_min'
    Public.FormResponseBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          created_at:
            type: string
            format: date-time
          form:
            $ref: '#/components/schemas/Public.FormBlueprint_leaf'
          form_response_items:
            $ref: '#/components/schemas/Public.FormResponseItemBlueprint_leaf'
          subject:
            $ref: '#/components/schemas/Common.RecordBlueprint_min'
    Public.FormItemBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        help_text:
          type: string
        item_type:
          type: string
        title:
          type: string
    Common.RecordBlueprint_min:
      type: object
      properties:
        id:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
x-refined-from:
- hint-health-hint-health-api-openapi.yml
- hint-health-partner-endpoints-2026-07-01-openapi.yml
