openapi: 3.2.0
info:
  version: '2026-07-01'
  title: Partner Endpoints Installation Webhook Endpoints API
  description: Hint Health API
  contact:
    name: Hint
    email: devsupport@hint.com
    url: https://developers.hint.com
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-api-evangelist-harvest:
    generated: '2026-08-15'
    method: searched
    source: https://developers.hint.com/reference/<slug>.md (204 pages indexed by https://developers.hint.com/llms.txt)
    note: 'Assembled from the per-endpoint OpenAPI 3.1 documents Hint publishes verbatim inside each ReadMe reference page''s ''# OpenAPI definition'' fenced JSON block. Every path item, schema, tag and server value is Hint''s own text; only the union of paths and components was computed. Ownership is not in question: info.title ''Partner Endpoints'', info.contact devsupport@hint.com, info.termsOfService https://www.hint.com/terms and servers api.sandbox.hint.com all name Hint Health.'
    pages_fetched: 204
    pages_carrying_a_spec: 200
    operations: 200
    supersedes: openapi/_original/hint-health-hint-health-api-openapi.yml (harvested 2026-06-13, 153 operations)
    follow_up: NOT yet split into per-tag specs and deliberately NOT wired into apis.yml — the 49 refined specs in openapi/ still derive from the June harvest. Re-run refine-openapis to re-split from this document and pick up the 47 operations the catalogue is missing (appointments, appointment types, communication authorizations, the partner-invisible clinical chart endpoints, and the products/installations/backends marketplace surface).
servers:
- url: https://api.sandbox.hint.com/api
tags:
- name: InstallationWebhookEndpoints
  description: ''
paths:
  /partner/installations/{installation_id}/webhook_endpoints:
    get:
      tags:
      - InstallationWebhookEndpoints
      operationId: InstallationWebhookEndpoints.ListWebhookEndpoints
      summary: List Installation Webhook Endpoints
      description: 'Lists the webhook endpoints registered on this installation''s practice connection.

        Endpoints are connection-scoped, so installs of the same practice''s products share them.'
      parameters:
      - name: installation_id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Allows limiting the number of webhook endpoints returned.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Allows offsetting the start of the returned page.
        schema:
          type: integer
          format: int32
      - name: webhook_url
        in: query
        required: false
        description: Filter by exact URL match.
        schema:
          type: string
      - name: created_at
        in: query
        required: false
        description: Allows filtering by date or time. Accepts an object with allowed keys of [gte, gt, lte, lt] and a value of the date or time in iso8601 format. See [advanced querying](https://developers.hint.com/reference/making-requests#advanced-querying) for more information.
        schema:
          type: string
          format: date-time
      - name: last_delivered_at
        in: query
        required: false
        description: Same shape as `created_at`.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.WebhookEndpointBlueprint_all'
              example:
              - id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
              - id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
              - id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
    post:
      tags:
      - InstallationWebhookEndpoints
      operationId: InstallationWebhookEndpoints.CreateWebhookEndpoint
      summary: Create Installation Webhook Endpoint
      description: ''
      parameters:
      - name: installation_id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.WebhookEndpointBlueprint_one'
              example:
                id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.Installations.WebhookEndpointsController.create_body'
  /partner/installations/{installation_id}/webhook_endpoints/{id}:
    patch:
      tags:
      - InstallationWebhookEndpoints
      operationId: InstallationWebhookEndpoints.UpdateWebhookEndpoint
      summary: Update Installation Webhook Endpoint
      description: ''
      parameters:
      - name: installation_id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Installation Webhook Endpoints ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.WebhookEndpointBlueprint_one'
              example:
                id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.Installations.WebhookEndpointsController.update_body'
    delete:
      tags:
      - InstallationWebhookEndpoints
      operationId: InstallationWebhookEndpoints.DeleteWebhookEndpoint
      summary: Delete Installation Webhook Endpoint
      description: ''
      parameters:
      - name: installation_id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Installation Webhook Endpoints ID
        schema:
          type: string
      responses:
        '204':
          description: Successful response
components:
  schemas:
    Public.WebhookEndpointBlueprint_one:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
        last_delivered_at:
          type: string
        updated_at:
          type: string
        webhook_url:
          type: string
        partner_backend:
          $ref: '#/components/schemas/Public.BackendBlueprint_min'
    Public.BackendBlueprint_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Partner.Installations.WebhookEndpointsController.create_body:
      title: Create_InstallationWebhookEndpoint
      type: object
      properties:
        webhook_url:
          type: string
      required:
      - webhook_url
    Public.WebhookEndpointBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          created_at:
            type: string
          last_delivered_at:
            type: string
          updated_at:
            type: string
          webhook_url:
            type: string
          partner_backend:
            $ref: '#/components/schemas/Public.BackendBlueprint_min'
    Partner.Installations.WebhookEndpointsController.update_body:
      type: object
      properties:
        webhook_url:
          type: string
  securitySchemes:
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
