openapi: 3.0.3
info:
  title: Hint Health AccountAccessToken InteractionNotifications API
  description: REST API providing programmatic access to Hint Health's direct primary care platform, covering patient and membership management, billing, charges, invoices, clinical data, practice configuration, partner integrations, and webhook event delivery.
  version: '1.0'
  contact:
    name: Hint Health Developer Support
    email: devsupport@hint.com
    url: https://developers.hint.com
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: InteractionNotifications
paths:
  /provider/interactions/{interaction_id}/notifications:
    post:
      tags:
      - InteractionNotifications
      operationId: InteractionNotifications.CreateInteractionNotification
      summary: Create Interaction Notification
      description: ''
      parameters:
      - name: interaction_id
        in: path
        required: true
        description: Unique Interaction ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.InteractionNotificationBlueprint_one'
              example:
                id: inter-ab12C345DeF6
                title: 'Lab #123456'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.Interactions.NotificationsController.create_body'
components:
  schemas:
    Provider.Interactions.NotificationsController.create_body:
      title: Create_InteractionNotification
      type: object
      properties:
        title:
          type: string
          description: The title of the interaction notification.
    Public.InteractionNotificationBlueprint_one:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
