openapi: 3.2.0
info:
  version: '2026-07-01'
  title: Partner Endpoints Affiliate Ancillary Charge API
  description: Hint Health API
  contact:
    name: Hint
    email: devsupport@hint.com
    url: https://developers.hint.com
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-api-evangelist-harvest:
    generated: '2026-08-15'
    method: searched
    source: https://developers.hint.com/reference/<slug>.md (204 pages indexed by https://developers.hint.com/llms.txt)
    note: 'Assembled from the per-endpoint OpenAPI 3.1 documents Hint publishes verbatim inside each ReadMe reference page''s ''# OpenAPI definition'' fenced JSON block. Every path item, schema, tag and server value is Hint''s own text; only the union of paths and components was computed. Ownership is not in question: info.title ''Partner Endpoints'', info.contact devsupport@hint.com, info.termsOfService https://www.hint.com/terms and servers api.sandbox.hint.com all name Hint Health.'
    pages_fetched: 204
    pages_carrying_a_spec: 200
    operations: 200
    supersedes: openapi/_original/hint-health-hint-health-api-openapi.yml (harvested 2026-06-13, 153 operations)
    follow_up: NOT yet split into per-tag specs and deliberately NOT wired into apis.yml — the 49 refined specs in openapi/ still derive from the June harvest. Re-run refine-openapis to re-split from this document and pick up the 47 operations the catalogue is missing (appointments, appointment types, communication authorizations, the partner-invisible clinical chart endpoints, and the products/installations/backends marketplace surface).
servers:
- url: https://api.sandbox.hint.com/api
tags:
- name: AffiliateAncillaryCharge
  description: ''
paths:
  /provider/affiliate_ancillary_charges:
    get:
      tags:
      - AffiliateAncillaryCharge
      operationId: AffiliateAncillaryCharge.ListAffiliateAncillaryCharges
      summary: List All Affiliate Ancillary Charges
      description: 'Returns the network''s ancillary charges aggregated across every affiliate, newest first.

        Supports pagination through `limit` (default 10, min 1, max 100) and `offset` (default 0, min 0).

        Sortable attributes are `created_at`, `status`, `sponsor` and `affiliate_practice`, ascending as

        `sort=attribute` and descending as `sort=-attribute`.'
      parameters:
      - name: sponsor
        in: query
        required: false
        description: The id of a sponsor, to only return that sponsor's charges
        schema:
          type: string
      - name: affiliate
        in: query
        required: false
        description: The id of an affiliate, to only return that affiliate's charges
        schema:
          type: string
      - name: affiliate_practice
        in: query
        required: false
        description: The id of an affiliate's practice, to only return its charges
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: 'Allows filtering by status, possible values: pending, approved'
        schema:
          type: string
      - name: start
        in: query
        required: false
        description: Only return charges added at or after this date or timestamp
        schema:
          type: string
      - name: end
        in: query
        required: false
        description: Only return charges added at or before this date or timestamp
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Maximum number of results (default 10, min 1, max 100)
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Pagination offset (default 0, min 0)
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        required: false
        description: Sort by created_at, status, sponsor or affiliate_practice; - reverses
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Public.AffiliateAncillaryChargeBlueprint_all'
              example:
              - id: anch-ab12C345DeF6
                status: approved
                created_at: '2017-02-05T06:23:00.000000-08:00'
                sponsor:
                  id: com-ab12C345DeF6
                  name: Isaac Supplies Inc
                affiliate:
                  id: aff-ab12C345DeF6
                  name: Dr. Phil
                affiliate_practice:
                  id: pra-ab12C345DeF6
                  name: Dr. Phil
                charge:
                  id: cha-ab12C345DeF6
                  name: Lab fee
                  status: draft
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  price_in_cents: 1000
                  quantity: 1
                  service_date: '2017-02-05'
                  total_in_cents: 1000
                  patient:
                    id: pat-ab12C345DeF6
                    name: Yvette Stevens
                  category:
                    id: cat-ab12C345DeF6
                    name: Charge Category 1
                    created_at: '2017-02-05T06:23:00.000000-08:00'
                    default_for_memberships: false
                  invoice:
                    id: inv-ab12C345DeF6
                    invoice_number: 1
                    type: customer_invoice
                sponsor_charge:
                  id: cha-ab12C345DeF6
                  name: Lab fee
                  status: draft
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  price_in_cents: 1000
                  quantity: 1
                  service_date: '2017-02-05'
                  total_in_cents: 1000
                  patient:
                    id: pat-ab12C345DeF6
                    name: Gordon Sumner
                  category:
                    id: cat-ab12C345DeF6
                    name: Charge Category 2
                    created_at: '2017-02-05T06:23:00.000000-08:00'
                    default_for_memberships: false
                  invoice:
                    id: inv-ab12C345DeF6
                    invoice_number: 1
                    type: customer_invoice
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
components:
  schemas:
    Public.Payable.InvoiceBlueprint_min:
      type: object
      properties:
        id:
          type: string
        invoice_number:
          type: string
        type:
          type: string
    Public.PatientBlueprint_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.AffiliationBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.ChargeBlueprint_for_affiliate_ancillary_charge:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        price_in_cents:
          type: integer
          format: int32
        quantity:
          type: integer
          format: int32
        service_date:
          type: string
          format: date
        total_in_cents:
          type: integer
          format: int32
        patient:
          $ref: '#/components/schemas/Public.PatientBlueprint_min'
        category:
          $ref: '#/components/schemas/Public.CategoryBlueprint_one'
        invoice:
          $ref: '#/components/schemas/Public.Payable.InvoiceBlueprint_min'
    Public.PracticeBlueprint_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.CompanyBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.AffiliateAncillaryChargeBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          status:
            type: string
            enum:
            - pending
            - approved
          created_at:
            type: string
            format: date-time
          sponsor:
            $ref: '#/components/schemas/Public.CompanyBlueprint_leaf'
          affiliate:
            $ref: '#/components/schemas/Public.AffiliationBlueprint_leaf'
          affiliate_practice:
            $ref: '#/components/schemas/Public.PracticeBlueprint_min'
          charge:
            $ref: '#/components/schemas/Public.ChargeBlueprint_for_affiliate_ancillary_charge'
          sponsor_charge:
            $ref: '#/components/schemas/Public.ChargeBlueprint_for_affiliate_ancillary_charge'
    Public.CategoryBlueprint_one:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        created_at:
          type: string
          format: date-time
        default_for_memberships:
          type: boolean
  securitySchemes:
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
