openapi: 3.2.0
info:
  title: Hint Health Location API
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-refined-note:
  - x-api-evangelist-harvest differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Location across 2 of this provider''s published API definitions: hint-health-hint-health-api-openapi.yml, hint-health-partner-endpoints-2026-07-01-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
tags:
- name: Location
paths:
  /provider/locations:
    post:
      tags:
      - Location
      operationId: Location.CreateLocation
      summary: Create Location
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.LocationBlueprint_one'
              example:
                id: loc-ab12C345DeF6
                address_city: New York
                address_country: United States
                address_latitude: 40.7227998
                address_line1: 157 E Houston St
                address_line2: Suite 2402
                address_longitude: -73.9892241
                address_state: NY
                address_zip: '10002'
                distance: null
                name: San Francisco HQ
                phone_number: '5553050019'
                virtual: false
                location_group:
                  id: prg-ab12C345DeF6
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  integration_record_id: null
                  name: Downtown Location Group
                  updated_at: '2017-02-05T06:23:00.000000-08:00'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.LocationsController.create_body'
      security:
      - BearerAuth: []
    get:
      tags:
      - Location
      operationId: Location.ListLocations
      summary: List All Locations
      description: ''
      parameters:
      - name: near_zip
        in: query
        required: false
        description: The zip code in the centre of your search
        schema:
          type: string
      - name: distance
        in: query
        required: false
        description: The search radius in miles. Defaults to 20 if near_zip is not blank
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Public.LocationBlueprint_all'
              example:
              - id: loc-ab12C345DeF6
                address_city: New York
                address_country: United States
                address_latitude: 40.7227998
                address_line1: 157 E Houston St
                address_line2: Suite 2402
                address_longitude: -73.9892241
                address_state: NY
                address_zip: '10002'
                distance: null
                name: San Francisco HQ
                phone_number: '5553050019'
                virtual: false
                location_group:
                  id: prg-ab12C345DeF6
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  integration_record_id: null
                  name: Downtown Location Group
                  updated_at: '2017-02-05T06:23:00.000000-08:00'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
  /provider/locations/{id}:
    delete:
      tags:
      - Location
      operationId: Location.DeleteLocation
      summary: Delete Location
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Location ID
        schema:
          type: string
      responses:
        '204':
          description: No content
      security:
      - BearerAuth: []
    get:
      tags:
      - Location
      operationId: Location.ShowLocation
      summary: Show Location
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Location ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.LocationBlueprint_one'
              example:
                id: loc-ab12C345DeF6
                address_city: New York
                address_country: United States
                address_latitude: 40.7227998
                address_line1: 157 E Houston St
                address_line2: Suite 2402
                address_longitude: -73.9892241
                address_state: NY
                address_zip: '10002'
                distance: null
                name: San Francisco HQ
                phone_number: '5553050019'
                virtual: false
                location_group:
                  id: prg-ab12C345DeF6
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  integration_record_id: null
                  name: Downtown Location Group
                  updated_at: '2017-02-05T06:23:00.000000-08:00'
      security:
      - BearerAuth: []
    patch:
      tags:
      - Location
      operationId: Location.UpdateLocation
      summary: Update Location
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Location ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.LocationBlueprint_one'
              example:
                id: loc-ab12C345DeF6
                address_city: New York
                address_country: United States
                address_latitude: 40.7227998
                address_line1: 157 E Houston St
                address_line2: Suite 2402
                address_longitude: -73.9892241
                address_state: NY
                address_zip: '10002'
                distance: null
                name: San Francisco HQ
                phone_number: '5553050019'
                virtual: false
                location_group:
                  id: prg-ab12C345DeF6
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  integration_record_id: null
                  name: Downtown Location Group
                  updated_at: '2017-02-05T06:23:00.000000-08:00'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.LocationsController.update_body'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
components:
  schemas:
    Association:
      type: object
      properties:
        id:
          type: string
      required:
      - id
    Provider.LocationsController.create_body:
      type: object
      properties:
        name:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        address_city:
          type: string
        address_state:
          type: string
        address_zip:
          type: string
        address_country:
          type: string
        phone_number:
          type: string
        virtual:
          type: boolean
        location_group:
          $ref: '#/components/schemas/Association'
      required:
      - name
    Provider.LocationsController.update_body:
      type: object
      properties:
        name:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        address_city:
          type: string
        address_state:
          type: string
        address_zip:
          type: string
        address_country:
          type: string
        phone_number:
          type: string
        virtual:
          type: boolean
        location_group:
          $ref: '#/components/schemas/Association'
      required:
      - name
    Public.LocationBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          address_city:
            type: string
          address_country:
            type: string
          address_latitude:
            type: number
            format: float
          address_line1:
            type: string
          address_line2:
            type: string
          address_longitude:
            type: number
            format: float
          address_state:
            type: string
          address_zip:
            type: string
          distance:
            type: string
          name:
            type: string
          phone_number:
            type: string
          virtual:
            type: boolean
          location_group:
            $ref: '#/components/schemas/Public.LocationGroupBlueprint_leaf'
    Public.LocationGroupBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        integration_record_id:
          type: string
        name:
          type: string
        updated_at:
          type: string
          format: date-time
    Public.LocationBlueprint_one:
      type: object
      properties:
        id:
          type: string
        address_city:
          type: string
        address_country:
          type: string
        address_latitude:
          type: number
          format: float
        address_line1:
          type: string
        address_line2:
          type: string
        address_longitude:
          type: number
          format: float
        address_state:
          type: string
        address_zip:
          type: string
        distance:
          type: string
        name:
          type: string
        phone_number:
          type: string
        virtual:
          type: boolean
        location_group:
          $ref: '#/components/schemas/Public.LocationGroupBlueprint_leaf'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
x-refined-from:
- hint-health-hint-health-api-openapi.yml
- hint-health-partner-endpoints-2026-07-01-openapi.yml
