openapi: 3.2.0
info:
  title: Hint Health Lead Source API
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-refined-note:
  - x-api-evangelist-harvest differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged LeadSource across 2 of this provider''s published API definitions: hint-health-hint-health-api-openapi.yml, hint-health-partner-endpoints-2026-07-01-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
tags:
- name: LeadSource
paths:
  /provider/lead_sources/{id}:
    delete:
      tags:
      - LeadSource
      operationId: LeadSource.DeleteLeadSource
      summary: Delete Lead Source
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Lead Source ID
        schema:
          type: string
      responses:
        '204':
          description: No content
      security:
      - BearerAuth: []
    patch:
      tags:
      - LeadSource
      operationId: LeadSource.UpdateLeadSource
      summary: Update Lead Source
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Lead Source ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.LeadSourceBlueprint_one'
              example:
                id: lds-ab12C345DeF6
                name: Online Ad2
                created_at: '2017-02-05T06:23:00.000000-08:00'
                updated_at: '2017-02-05T06:23:00.000000-08:00'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.LeadSourcesController.update_body'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
  /provider/lead_sources:
    post:
      tags:
      - LeadSource
      operationId: LeadSource.LeadSource
      summary: Create LeadSource
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.LeadSourceBlueprint_one'
              example:
                id: lds-ab12C345DeF6
                name: Online Ad2
                created_at: '2017-02-05T06:23:00.000000-08:00'
                updated_at: '2017-02-05T06:23:00.000000-08:00'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.LeadSourcesController.create_body'
      security:
      - BearerAuth: []
    get:
      tags:
      - LeadSource
      operationId: LeadSource.LeadSources
      summary: List All Lead Sources
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Public.LeadSourceBlueprint_all'
              example:
              - id: lds-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                name: Online Ad1
                updated_at: '2017-02-05T06:23:00.000000-08:00'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
components:
  schemas:
    Provider.LeadSourcesController.update_body:
      title: Create_LeadSource
      type: object
      properties:
        name:
          type: string
    Public.LeadSourceBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          created_at:
            type: string
            format: date-time
          name:
            type: string
          updated_at:
            type: string
            format: date-time
    Provider.LeadSourcesController.create_body:
      title: Create_LeadSource
      type: object
      properties:
        name:
          type: string
    Public.LeadSourceBlueprint_one:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
x-refined-from:
- hint-health-hint-health-api-openapi.yml
- hint-health-partner-endpoints-2026-07-01-openapi.yml
