openapi: 3.0.3
info:
  title: Hint Health AccountAccessToken SignupAttempt API
  description: REST API providing programmatic access to Hint Health's direct primary care platform, covering patient and membership management, billing, charges, invoices, clinical data, practice configuration, partner integrations, and webhook event delivery.
  version: '1.0'
  contact:
    name: Hint Health Developer Support
    email: devsupport@hint.com
    url: https://developers.hint.com
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: SignupAttempt
paths:
  /provider/signup_attempts:
    get:
      tags:
      - SignupAttempt
      operationId: SignupAttempt.ListSignupAttempts
      summary: List All Signup Attempts
      description: ''
      parameters:
      - name: signup_page
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: lead_source
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: updated_at
        in: query
        required: false
        description: Allows filtering by date or time. Accepts an object with allowed keys of [gte, gt, lte, lt] and a value of the date or time in iso8601 format. See [advanced querying](https://developers.hint.com/reference/making-requests#advanced-querying) for more information.
        schema:
          type: string
          format: date-time
      - name: created_at
        in: query
        required: false
        description: Allows filtering by date or time. Accepts an object with allowed keys of [gte, gt, lte, lt] and a value of the date or time in iso8601 format. See [advanced querying](https://developers.hint.com/reference/making-requests#advanced-querying) for more information.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Public.SignupAttemptBlueprint_all'
              example:
              - id: sat-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                email: john@doe.com
                first_name: John
                last_name: Doe
                lead_source_other: null
                phone_number: 555-555-5555
                status: pending
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                zip: '11009'
                lead_source:
                  id: lds-ab12C345DeF6
                  name: Online ad
                signup_page:
                  id: spg-ab12C345DeF6
                  slug: annual-membership
              - id: sat-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                email: john@doe.com
                first_name: John
                last_name: Doe
                lead_source_other: null
                phone_number: 555-555-5555
                status: pending
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                zip: '11009'
                lead_source:
                  id: lds-ab12C345DeF6
                  name: Online ad
                signup_page:
                  id: spg-ab12C345DeF6
                  slug: annual-membership
              - id: sat-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                email: john@doe.com
                first_name: John
                last_name: Doe
                lead_source_other: null
                phone_number: 555-555-5555
                status: pending
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                zip: '11009'
                lead_source:
                  id: lds-ab12C345DeF6
                  name: Online ad
                signup_page:
                  id: spg-ab12C345DeF6
                  slug: annual-membership
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
  /provider/signup_attempts/{id}:
    get:
      tags:
      - SignupAttempt
      operationId: SignupAttempt.ShowSignupAttempt
      summary: Show Signup Attempt
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Signup Attempt ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.SignupAttemptBlueprint_one'
              example:
                id: sat-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                email: john@doe.com
                first_name: John
                last_name: Doe
                lead_source_other: null
                phone_number: 555-555-5555
                status: pending
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                zip: '11009'
                lead_source:
                  id: lds-ab12C345DeF6
                  name: Online ad
                signup_page:
                  id: spg-ab12C345DeF6
                  slug: annual-membership
components:
  schemas:
    Public.SignupPageBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
    Public.LeadSourceBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.SignupAttemptBlueprint_one:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        lead_source_other:
          type: string
        phone_number:
          type: string
        status:
          type: string
        updated_at:
          type: string
          format: date-time
        zip:
          type: string
        lead_source:
          $ref: '#/components/schemas/Public.LeadSourceBlueprint_leaf'
        signup_page:
          $ref: '#/components/schemas/Public.SignupPageBlueprint_leaf'
    Public.SignupAttemptBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          created_at:
            type: string
            format: date-time
          email:
            type: string
          first_name:
            type: string
          last_name:
            type: string
          lead_source_other:
            type: string
          phone_number:
            type: string
          status:
            type: string
          updated_at:
            type: string
            format: date-time
          zip:
            type: string
          lead_source:
            $ref: '#/components/schemas/Public.LeadSourceBlueprint_leaf'
          signup_page:
            $ref: '#/components/schemas/Public.SignupPageBlueprint_leaf'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
