openapi: 3.2.0
info:
  title: Hint Health Partner API
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-refined-note:
  - x-api-evangelist-harvest differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Partner across 2 of this provider''s published API definitions: hint-health-hint-health-api-openapi.yml, hint-health-partner-endpoints-2026-07-01-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
tags:
- name: Partner
paths:
  /partner:
    get:
      tags:
      - Partner
      operationId: Partner.ShowPartnerLegacy
      summary: Show Partner
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform.PartnerBlueprint_one'
              example:
                id: ptr-ab12C345DeF6
                email: jane.doe@hint-partner-emr.com
                logo_url: null
                name: Hint-Partner EMR
                webhook_url: https://hint-partner-emr.com/webhooks/hint
      security:
      - BearerAuth: []
    patch:
      tags:
      - Partner
      operationId: Partner.UpdatePartnerLegacy
      summary: Update Partner
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform.PartnerBlueprint_one'
              example:
                id: ptr-ab12C345DeF6
                email: jane.doe@hint-partner-emr.com
                logo_url: null
                name: Hint-Partner EMR
                webhook_url: https://hint-partner-emr.com/webhooks/hint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Platform.PartnersController.update_body'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
  /partner/partner:
    get:
      tags:
      - Partner
      operationId: Partner.ShowPartner
      summary: Show Partner
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerBlueprint_one'
              example:
                id: ptr-ab12C345DeF6
                email: jane.doe@hint-partner-emr.com
                logo_url: null
                name: Hint-Partner EMR
    patch:
      tags:
      - Partner
      operationId: Partner.UpdatePartner
      summary: Update Partner
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerBlueprint_one'
              example:
                id: ptr-ab12C345DeF6
                email: jane.doe@hint-partner-emr.com
                logo_url: null
                name: Hint-Partner EMR
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.PartnersController.update_body'
    servers:
    - url: https://api.sandbox.hint.com/api
components:
  schemas:
    Platform.PartnerBlueprint_one:
      type: object
      properties:
        id:
          type: string
        active:
          type: string
        email:
          type: string
        logo_url:
          type: string
        name:
          type: string
        organization_id:
          type: string
        requires_mfa:
          type: string
        status:
          type: string
        webhook_url:
          type: string
    Platform.PartnersController.update_body:
      title: Update_Partner_Legacy
      type: object
      properties:
        webhook_url:
          type: string
        marketing_url:
          type: string
        support_url:
          type: string
        product_description:
          type: string
        integration_description:
          type: string
        email:
          type: string
        logo_url:
          type: string
    Partner.PartnersController.update_body:
      title: Update_Partner
      type: object
      properties:
        name:
          type: string
        email:
          type: string
    Public.PartnerBlueprint_one:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        logo_url:
          type: string
        name:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
x-refined-from:
- hint-health-hint-health-api-openapi.yml
- hint-health-partner-endpoints-2026-07-01-openapi.yml
