openapi: 3.0.3
info:
  title: Hint Health AccountAccessToken SocialSecurityNumber API
  description: REST API providing programmatic access to Hint Health's direct primary care platform, covering patient and membership management, billing, charges, invoices, clinical data, practice configuration, partner integrations, and webhook event delivery.
  version: '1.0'
  contact:
    name: Hint Health Developer Support
    email: devsupport@hint.com
    url: https://developers.hint.com
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: SocialSecurityNumber
paths:
  /provider/patients/{patient_id}/social_security_number:
    get:
      tags:
      - SocialSecurityNumber
      operationId: SocialSecurityNumber.ShowSocialSecurityNumber
      summary: Show Social Security Number
      description: ''
      parameters:
      - name: patient_id
        in: path
        required: true
        description: Unique Patient ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.SocialSecurityNumberBlueprint_one'
              example:
                formatted_number: 808-56-1234
                number: '808561234'
components:
  schemas:
    Public.SocialSecurityNumberBlueprint_one:
      type: object
      properties:
        formatted_number:
          type: string
        number:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
