openapi: 3.2.0
info:
  title: Hint Health Affiliate API
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-refined-note:
  - x-api-evangelist-harvest differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Affiliate across 2 of this provider''s published API definitions: hint-health-hint-health-api-openapi.yml, hint-health-partner-endpoints-2026-07-01-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
tags:
- name: Affiliate
paths:
  /provider/affiliates:
    get:
      tags:
      - Affiliate
      operationId: Affiliate.ListAffiliates
      summary: List All Affiliates
      description: ''
      parameters:
      - name: status
        in: query
        required: false
        description: 'Allows filtering by active ones, possible values: pending, active, ended'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Public.AffiliationBlueprint_all'
              example:
              - id: aff-ab12C345DeF6
                name: Dr. Phil
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
  /provider/patients/{patient_id}/affiliate:
    get:
      tags:
      - Affiliate
      operationId: Affiliate.ShowPatientAffiliate
      summary: Show Patient Affiliate
      description: Returns `null` when the patient has no assigned affiliate.
      parameters:
      - name: patient_id
        in: path
        required: true
        description: Unique Patient ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.AffiliationBlueprint_affiliate_min'
              example:
                id: aff-ab12C345DeF6
                name: Dr. Phil
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
components:
  schemas:
    Public.AffiliationBlueprint_affiliate_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.AffiliationBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
x-refined-from:
- hint-health-hint-health-api-openapi.yml
- hint-health-partner-endpoints-2026-07-01-openapi.yml
