openapi: 3.2.0
info:
  title: Hint Health Credit Category API
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-refined-note:
  - x-api-evangelist-harvest differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged CreditCategory across 2 of this provider''s published API definitions: hint-health-hint-health-api-openapi.yml, hint-health-partner-endpoints-2026-07-01-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
tags:
- name: CreditCategory
paths:
  /provider/credit_categories:
    post:
      tags:
      - CreditCategory
      operationId: CreditCategory.CreateCreditCategory
      summary: Create Credit Category
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.CreditCategoryBlueprint_one'
              example:
                id: cct-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                name: Credit Category 2
                updated_at: '2017-02-05T06:23:00.000000-08:00'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.CreditCategoriesController.create_body'
      security:
      - BearerAuth: []
    get:
      tags:
      - CreditCategory
      operationId: CreditCategory.ListCreditCategories
      summary: List All Credit Categories
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Public.CreditCategoryBlueprint_all'
              example:
              - id: cct-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                name: Credit Category 1
                updated_at: '2017-02-05T06:23:00.000000-08:00'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
  /provider/credit_categories/{id}:
    delete:
      tags:
      - CreditCategory
      operationId: CreditCategory.DeleteCreditCategory
      summary: Delete Credit Category
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Credit Category ID
        schema:
          type: string
      responses:
        '204':
          description: No content
      security:
      - BearerAuth: []
    get:
      tags:
      - CreditCategory
      operationId: CreditCategory.ShowCreditCategory
      summary: Show Credit Category
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Credit Category ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.CreditCategoryBlueprint_one'
              example:
                id: cct-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                name: Credit Category 2
                updated_at: '2017-02-05T06:23:00.000000-08:00'
      security:
      - BearerAuth: []
    patch:
      tags:
      - CreditCategory
      operationId: CreditCategory.UpdateCreditCategory
      summary: Update Credit Category
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Credit Category ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.CreditCategoryBlueprint_one'
              example:
                id: cct-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                name: Credit Category 2
                updated_at: '2017-02-05T06:23:00.000000-08:00'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.CreditCategoriesController.update_body'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
components:
  schemas:
    Public.CreditCategoryBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          created_at:
            type: string
            format: date-time
          name:
            type: string
          updated_at:
            type: string
            format: date-time
    Provider.CreditCategoriesController.update_body:
      type: object
      properties:
        name:
          type: string
          description: Value is case sensitive. If you delete a Credit Category, you can restore it by POSTing with the same name.
      required:
      - name
    Provider.CreditCategoriesController.create_body:
      type: object
      properties:
        name:
          type: string
          description: Value is case sensitive. If you delete a Credit Category, you can restore it by POSTing with the same name.
      required:
      - name
    Public.CreditCategoryBlueprint_one:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        name:
          type: string
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
x-refined-from:
- hint-health-hint-health-api-openapi.yml
- hint-health-partner-endpoints-2026-07-01-openapi.yml
