openapi: 3.0.3
info:
  title: Hint Health AccountAccessToken GlobalWebhookEndpoint API
  description: REST API providing programmatic access to Hint Health's direct primary care platform, covering patient and membership management, billing, charges, invoices, clinical data, practice configuration, partner integrations, and webhook event delivery.
  version: '1.0'
  contact:
    name: Hint Health Developer Support
    email: devsupport@hint.com
    url: https://developers.hint.com
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: GlobalWebhookEndpoint
paths:
  /global_webhook_endpoints:
    post:
      tags:
      - GlobalWebhookEndpoint
      operationId: GlobalWebhookEndpoint.CreateWebhookEndpointLegacy
      summary: Create Webhook Endpoint
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform.WebhookEndpointBlueprint_one'
              example:
                id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                localhost_webhook_url: http://localhost:3000/hint/webhook
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Platform.WebhookEndpointsController.create_body'
    get:
      tags:
      - GlobalWebhookEndpoint
      operationId: GlobalWebhookEndpoint.WebhookEndpointsLegacy
      summary: List All Webhook Endpoints
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Platform.WebhookEndpointBlueprint_all'
              example:
              - id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                localhost_webhook_url: http://localhost:3000/hint/webhook
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
              - id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                localhost_webhook_url: http://localhost:3000/hint/webhook
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
              - id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                localhost_webhook_url: http://localhost:3000/hint/webhook
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
  /global_webhook_endpoints/{id}:
    delete:
      tags:
      - GlobalWebhookEndpoint
      operationId: GlobalWebhookEndpoint.DeleteWebhookEndpointLegacy
      summary: Delete Webhook Endpoint
      description: This operation will take effect immediately and cancel all pending and retrying webhooks.
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Global Webhook Endpoint ID
        schema:
          type: string
      responses:
        '204':
          description: No content
    get:
      tags:
      - GlobalWebhookEndpoint
      operationId: GlobalWebhookEndpoint.ShowWebhookEndpointLegacy
      summary: Show Webhook Endpoint
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Global Webhook Endpoint ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform.WebhookEndpointBlueprint_one'
              example:
                id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                localhost_webhook_url: http://localhost:3000/hint/webhook
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
    patch:
      tags:
      - GlobalWebhookEndpoint
      operationId: GlobalWebhookEndpoint.UpdateWebhookEndpointLegacy
      summary: Update Webhook Endpoint
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Global Webhook Endpoint ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform.WebhookEndpointBlueprint_one'
              example:
                id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                localhost_webhook_url: http://localhost:3000/hint/webhook
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Platform.WebhookEndpointsController.update_body'
components:
  schemas:
    Platform.WebhookEndpointsController.update_body:
      title: Update_WebhookEndpoint_Legacy
      type: object
      properties:
        webhook_url:
          type: string
    Platform.WebhookEndpointBlueprint_one:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
        last_delivered_at:
          type: string
        updated_at:
          type: string
        webhook_url:
          type: string
    Platform.WebhookEndpointBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          created_at:
            type: string
          last_delivered_at:
            type: string
          updated_at:
            type: string
          webhook_url:
            type: string
    Platform.WebhookEndpointsController.create_body:
      type: object
      properties:
        webhook_url:
          type: string
      required:
      - webhook_url
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
