openapi: 3.2.0
info:
  title: Hint Health Clinical Note Interaction API
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-refined-note:
  - x-api-evangelist-harvest differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged ClinicalNoteInteraction across 2 of this provider''s published API definitions: hint-health-hint-health-api-openapi.yml, hint-health-partner-endpoints-2026-07-01-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
tags:
- name: ClinicalNoteInteraction
paths:
  /provider/patients/{patient_id}/interactions/clinical_note:
    post:
      tags:
      - ClinicalNoteInteraction
      operationId: ClinicalNoteInteraction.CreateClinicalNoteInteraction
      summary: Create Clinical Note Interaction
      description: ''
      parameters:
      - name: patient_id
        in: path
        required: true
        description: Unique Patient ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.Interaction.ClinicalNoteBlueprint_one'
              example:
                id: inter-cN12x345AbC6
                author: Dr. Jane Smith
                event_timestamp: '2017-02-05T14:23:00Z'
                files: []
                formatted_text: <p>Patient presented for annual wellness exam. All vitals within normal range.</p>
                patient_id: pat-123456
                signed: true
                status: completed
                text: Patient presented for annual wellness exam. All vitals within normal range.
                title: Visit Note – Annual Physical
                type: note
                integration_error_message: null
                integration_last_synced_at: null
                integration_record_id: null
                integration_sync_status: enabled
                integration_web_link: null
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Interaction.ClinicalNoteSanitizer'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
  /provider/patients/{patient_id}/interactions/clinical_note/{id}:
    get:
      tags:
      - ClinicalNoteInteraction
      operationId: ClinicalNoteInteraction.ShowClinicalNoteInteraction
      summary: Show Clinical Note Interaction
      description: ''
      parameters:
      - name: patient_id
        in: path
        required: true
        description: Unique Patient ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Clinical Note Interaction ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.Interaction.ClinicalNoteBlueprint_one'
              example:
                id: inter-cN12x345AbC6
                author: Dr. Jane Smith
                event_timestamp: '2017-02-05T14:23:00Z'
                files: []
                formatted_text: <p>Patient presented for annual wellness exam. All vitals within normal range.</p>
                patient_id: pat-123456
                signed: true
                status: completed
                text: Patient presented for annual wellness exam. All vitals within normal range.
                title: Visit Note – Annual Physical
                type: note
                integration_error_message: null
                integration_last_synced_at: null
                integration_record_id: null
                integration_sync_status: enabled
                integration_web_link: null
      security:
      - BearerAuth: []
    patch:
      tags:
      - ClinicalNoteInteraction
      operationId: ClinicalNoteInteraction.UpdateClinicalNoteInteraction
      summary: Update Clinical Note Interaction
      description: ''
      parameters:
      - name: patient_id
        in: path
        required: true
        description: Unique Patient ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Clinical Note Interaction ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.Interaction.ClinicalNoteBlueprint_one'
              example:
                id: inter-cN12x345AbC6
                author: Dr. Jane Smith
                event_timestamp: '2017-02-05T14:23:00Z'
                files: []
                formatted_text: <p>Patient presented for annual wellness exam. All vitals within normal range.</p>
                patient_id: pat-123456
                signed: true
                status: completed
                text: Patient presented for annual wellness exam. All vitals within normal range.
                title: Visit Note – Annual Physical
                type: note
                integration_error_message: null
                integration_last_synced_at: null
                integration_record_id: null
                integration_sync_status: enabled
                integration_web_link: null
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Interaction.ClinicalNoteSanitizer'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
components:
  schemas:
    Interaction.ClinicalNoteSanitizer:
      type: object
      properties:
        ? ''
        : type: string
          description: status [draft, signed, addended, deleted, failed] The status of the interaction.
        title:
          type: string
          description: The title of the interaction.
        text:
          type: string
          description: The plain text body of the interaction.
        formatted_text:
          type: string
          description: The formatted text body (markdown). Converted to HTML server-side.
        event_timestamp:
          type: string
          format: date-time
          description: The event timestamp of the interaction.
        files:
          type: array
          items:
            type: string
          description: File attachment paths. Files will be downloaded as part of the request.
        provider_name:
          type: string
          description: Name of the signing provider. When provided with status "signed", the API resolves it to a provider user ID for the signed field.
        integration_record_id:
          type: string
        integration_error_message:
          type: string
        integration_web_link:
          type: string
    Public.Interaction.ClinicalNoteBlueprint_one:
      type: object
      properties:
        id:
          type: string
        author:
          type: string
        event_timestamp:
          type: string
        files:
          type: string
        formatted_text:
          type: string
        patient_id:
          type: string
        signed:
          type: string
        status:
          type: string
        text:
          type: string
        title:
          type: string
        type:
          type: string
    Public.Interaction.ClinicalNoteBlueprint_one_2:
      type: object
      properties:
        id:
          type: string
        author:
          type: string
        event_timestamp:
          type: string
          format: date-time
        formatted_text:
          type: string
        patient_access:
          type: boolean
        patient_id:
          type: string
        signed:
          type: string
        status:
          type: string
        text:
          type: string
        title:
          type: string
        type:
          type: string
        files:
          type: array
          items:
            $ref: '#/components/schemas/Public.Interaction.FileBlueprint_leaf'
    Public.Interaction.FileBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        filename:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
x-refined-from:
- hint-health-hint-health-api-openapi.yml
- hint-health-partner-endpoints-2026-07-01-openapi.yml
