openapi: 3.0.3
info:
  title: Hint Health AccountAccessToken MembershipContract API
  description: REST API providing programmatic access to Hint Health's direct primary care platform, covering patient and membership management, billing, charges, invoices, clinical data, practice configuration, partner integrations, and webhook event delivery.
  version: '1.0'
  contact:
    name: Hint Health Developer Support
    email: devsupport@hint.com
    url: https://developers.hint.com
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: MembershipContract
paths:
  /provider/memberships/{membership_id}/contracts:
    get:
      tags:
      - MembershipContract
      operationId: MembershipContract.ListAllMembershipContracts
      summary: List all Membership Contracts
      description: ''
      parameters:
      - name: membership_id
        in: path
        required: true
        description: Unique Membership ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Public.MembershipContractBlueprint_all'
              example:
              - id: cntr-ab12C345DeF6
                end_date: '2018-02-05'
                memo: null
                start_date: '2016-08-05'
  /provider/memberships/{membership_id}/contracts/renew:
    post:
      tags:
      - MembershipContract
      operationId: MembershipContract.RenewMembershipContract
      summary: Renew Membership Contract
      description: ''
      parameters:
      - name: membership_id
        in: path
        required: true
        description: Unique Membership ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.MembershipContractBlueprint_one'
              example:
                id: cntr-ab12C345DeF6
                end_date: '2018-02-05'
                memo: null
                start_date: '2016-08-05'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.MembershipContractsController.renew_body'
  /provider/memberships/{membership_id}/contracts/{id}:
    patch:
      tags:
      - MembershipContract
      operationId: MembershipContract.UpdateMembershipContract
      summary: Update Membership Contract
      description: ''
      parameters:
      - name: membership_id
        in: path
        required: true
        description: Unique Membership ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Membership Contract ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.MembershipContractBlueprint_one'
              example:
                id: cntr-ab12C345DeF6
                end_date: '2018-02-05'
                memo: null
                start_date: '2016-08-05'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.MembershipContractsController.update_body'
components:
  schemas:
    Provider.MembershipContractsController.update_body:
      type: object
      properties:
        end_date:
          type: string
          format: date
        billing_end_date:
          type: string
          format: date
    Public.MembershipContractBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          end_date:
            type: string
            format: date
          memo:
            type: string
          start_date:
            type: string
            format: date
    Provider.MembershipContractsController.renew_body:
      type: object
      properties:
        memo:
          type: string
    Public.MembershipContractBlueprint_one:
      type: object
      properties:
        id:
          type: string
        end_date:
          type: string
          format: date
        memo:
          type: string
        start_date:
          type: string
          format: date
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
