openapi: 3.2.0
info:
  title: Hint Health Affiliate Patient API
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-refined-note:
  - x-api-evangelist-harvest differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged AffiliatePatient across 2 of this provider''s published API definitions: hint-health-hint-health-api-openapi.yml, hint-health-partner-endpoints-2026-07-01-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
tags:
- name: AffiliatePatient
paths:
  /provider/affiliates/{affiliate_id}/patients:
    post:
      tags:
      - AffiliatePatient
      operationId: AffiliatePatient.CreateAffiliatePatient
      summary: Assign patient to an affiliation
      description: ''
      parameters:
      - name: affiliate_id
        in: path
        required: true
        description: Unique Affiliate ID
        schema:
          type: string
      responses:
        '204':
          description: No content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.Affiliates.PatientsController.create_body'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
  /provider/affiliates/{affiliate_id}/patients/{id}:
    delete:
      tags:
      - AffiliatePatient
      operationId: AffiliatePatient.DestroyAffiliatePatient
      summary: Remove patient from an affiliation
      description: ''
      parameters:
      - name: affiliate_id
        in: path
        required: true
        description: Unique Affiliate ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Affiliate Patient ID
        schema:
          type: string
      responses:
        '204':
          description: No content
      security:
      - BearerAuth: []
    servers:
    - url: https://api.hint.com/api
      description: Production
    - url: https://api.sandbox.hint.com/api
      description: Sandbox
components:
  schemas:
    Provider.Affiliates.PatientsController.create_body:
      type: object
      properties:
        patient_id:
          type: string
      required:
      - patient_id
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
    hint_api_key:
      type: apiKey
      name: AUTHORIZATION
      in: header
      description: 'Enter your token in the format: `Bearer {your_api_key}`'
x-refined-from:
- hint-health-hint-health-api-openapi.yml
- hint-health-partner-endpoints-2026-07-01-openapi.yml
