openapi: 3.1.0
info:
  version: '2026-07-01'
  title: Partner Endpoints
  description: Hint Health API
  contact:
    name: Hint
    email: devsupport@hint.com
    url: https://developers.hint.com
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
  x-api-evangelist-harvest:
    generated: '2026-08-15'
    method: searched
    source: https://developers.hint.com/reference/<slug>.md (204 pages indexed by https://developers.hint.com/llms.txt)
    note: 'Assembled from the per-endpoint OpenAPI 3.1 documents Hint publishes verbatim inside each ReadMe
      reference page''s ''# OpenAPI definition'' fenced JSON block. Every path item, schema, tag and server
      value is Hint''s own text; only the union of paths and components was computed. Ownership is not
      in question: info.title ''Partner Endpoints'', info.contact devsupport@hint.com, info.termsOfService
      https://www.hint.com/terms and servers api.sandbox.hint.com all name Hint Health.'
    pages_fetched: 204
    pages_carrying_a_spec: 200
    operations: 200
    supersedes: openapi/_original/hint-health-hint-health-api-openapi.yml (harvested 2026-06-13, 153 operations)
    follow_up: NOT yet split into per-tag specs and deliberately NOT wired into apis.yml — the 49 refined
      specs in openapi/ still derive from the June harvest. Re-run refine-openapis to re-split from this
      document and pick up the 47 operations the catalogue is missing (appointments, appointment types,
      communication authorizations, the partner-invisible clinical chart endpoints, and the products/installations/backends
      marketplace surface).
servers:
- url: https://api.sandbox.hint.com/api
tags:
- name: AccountAccessToken
  description: ''
- name: Affiliate
  description: ''
- name: AffiliateAncillaryCharge
  description: ''
- name: AffiliateBill
  description: ''
- name: AffiliatePatient
  description: ''
- name: ApiKey
  description: ''
- name: App
  description: ''
- name: AppSurface
  description: ''
- name: Appointment
  description: ''
- name: Backend
  description: ''
- name: CancellationReason
  description: ''
- name: Charge
  description: ''
- name: ChargeItem
  description: ''
- name: ClinicalNoteInteraction
  description: ''
- name: Company
  description: ''
- name: CompanyPlan
  description: ''
- name: Coupon
  description: ''
- name: Credit
  description: ''
- name: CreditCategory
  description: ''
- name: CreditLine
  description: ''
- name: CustomerInvoice
  description: ''
- name: CustomerInvoiceCharge
  description: ''
- name: CustomerInvoicePayment
  description: ''
- name: DocumentInteraction
  description: ''
- name: EmployeeDivision
  description: ''
- name: FormResponse
  description: ''
- name: Installation
  description: ''
- name: InstallationApiKeys
  description: ''
- name: InstallationWebhookEndpoints
  description: ''
- name: IntegrationRecord
  description: ''
- name: Interaction
  description: ''
- name: InteractionNotifications
  description: ''
- name: Invoice
  description: ''
- name: InvoicePayment
  description: ''
- name: LabInteraction
  description: ''
- name: LeadSource
  description: ''
- name: Location
  description: ''
- name: Membership
  description: ''
- name: MembershipContract
  description: ''
- name: MembershipMember
  description: ''
- name: Partner
  description: ''
- name: PartnerCharge
  description: ''
- name: PartnerInteraction
  description: ''
- name: PartnerProductHighlight
  description: ''
- name: PartnerProductLink
  description: ''
- name: PartnerProductOverview
  description: ''
- name: PartnerProductPrecondition
  description: ''
- name: Patient
  description: ''
- name: PaymentMethod
  description: ''
- name: Plan
  description: ''
- name: Practice
  description: ''
- name: Practitioner
  description: ''
- name: Product
  description: ''
- name: ProductCategory
  description: ''
- name: Quote
  description: ''
- name: SignupAttempt
  description: ''
- name: SocialSecurityNumber
  description: ''
- name: Sponsorship
  description: ''
- name: Supplements
  description: ''
- name: Testimonial
  description: ''
- name: User
  description: ''
- name: WebhookEndpoint
  description: ''
- name: WebhookEvent
  description: ''
- name: WebhookRequest
  description: ''
paths:
  /partner/api_keys:
    get:
      tags:
      - ApiKey
      operationId: ApiKey.ListApiKeys
      summary: List API Keys
      description: ''
      parameters:
      - name: limit
        in: query
        required: false
        description: Allows limiting the number of API keys returned.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Allows offsetting the start of the returned page.
        schema:
          type: integer
          format: int32
      - name: label
        in: query
        required: false
        description: Filter by exact label match.
        schema:
          type: string
      - name: created_at
        in: query
        required: false
        description: Allows filtering by date or time. Accepts an object with allowed keys of [gte, gt,
          lte, lt] and a value of the date or time in iso8601 format. See [advanced querying](https://developers.hint.com/reference/making-requests#advanced-querying)
          for more information.
        schema:
          type: string
          format: date-time
      - name: last_used_at
        in: query
        required: false
        description: Same shape as `created_at`.
        schema:
          type: string
          format: date-time
      - name: deactivated_at
        in: query
        required: false
        description: 'Same shape as `created_at`. Pass `{ "is_present": true }` to include only deactivated
          keys.'
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ApiKeyBlueprint_all'
              example:
              - created_at: '2017-02-05T06:23:00.000000-08:00'
                deactivated_at: null
                label: API Key
                last_used_at: null
                token_last_4: tVG3
              - created_at: '2017-02-05T06:23:00.000000-08:00'
                deactivated_at: null
                label: API Key
                last_used_at: null
                token_last_4: tVG3
              - created_at: '2017-02-05T06:23:00.000000-08:00'
                deactivated_at: null
                label: API Key
                last_used_at: null
                token_last_4: tVG3
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
    post:
      tags:
      - ApiKey
      operationId: ApiKey.CreateApiKey
      summary: Create API Key
      description: 'The full `token` value is only returned in this response. Store it

        securely — it cannot be retrieved later.'
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ApiKeyBlueprint_one'
              example:
                id: i22X3eTjsV9kfNapfpuKYPrFU0hINpK9tVG3
                created_at: '2017-02-05T06:23:00.000000-08:00'
                deactivated_at: null
                label: API Key
                last_used_at: null
                token: i22X3eTjsV9kfNapfpuKYPrFU0hINpK9tVG3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.ApiKeysController.create_body'
  /partner/backends:
    get:
      tags:
      - Backend
      operationId: Backend.ListBackends
      summary: List Partner Backends
      description: 'Each backend owns its own webhook delivery, OAuth config, and product

        catalog.'
      parameters:
      - name: limit
        in: query
        required: false
        description: Allows limiting the number of partner backends returned.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Allows offsetting the start of the returned page.
        schema:
          type: integer
          format: int32
      - name: created_at
        in: query
        required: false
        description: Allows filtering by date or time. Accepts an object with allowed keys of [gte, gt,
          lte, lt] and a value of the date or time in iso8601 format. See [advanced querying](https://developers.hint.com/reference/making-requests#advanced-querying)
          for more information.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.BackendBlueprint_all'
              example:
              - id: pbnd-ab12C345DeF6
                activation_type: instant
                auth_type: manual
                created_at: '2017-02-05T06:23:00.000000-08:00'
                listened_events:
                - '*'
                localhost_redirect_url: http://localhost:3000/login?from=hint
                localhost_webhook_url: null
                max_requests_per_minute: null
                name: Default
                redirect_url: https://hint-partner-emr.com/login?from=hint
                unmute_self_webhooks: false
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhooks_disabled: false
                webhooks_paused: false
                api_credentials_configuration: null
                products: []
                webhooks_signature_api_key:
                  id: i22X3eTjsV9kfNapfpuKYPrFU0hINpK9tVG3
                  label: null
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  last_used_at: null
                  deactivated_at: null
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
  /partner/backends/{id}:
    get:
      tags:
      - Backend
      operationId: Backend.ShowBackend
      summary: Show Partner Backend
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Backend ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.BackendBlueprint_one'
              example:
                id: pbnd-ab12C345DeF6
                activation_type: instant
                auth_type: manual
                created_at: '2017-02-05T06:23:00.000000-08:00'
                listened_events:
                - '*'
                localhost_redirect_url: http://localhost:3000/login?from=hint
                localhost_webhook_url: null
                max_requests_per_minute: null
                name: Default
                redirect_url: https://hint-partner-emr.com/login?from=hint
                unmute_self_webhooks: false
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhooks_disabled: false
                webhooks_paused: false
                api_credentials_configuration: null
                products: []
                webhooks_signature_api_key:
                  id: i22X3eTjsV9kfNapfpuKYPrFU0hINpK9tVG3
                  label: null
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  last_used_at: null
                  deactivated_at: null
    patch:
      tags:
      - Backend
      operationId: Backend.UpdateBackend
      summary: Update Partner Backend
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Backend ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.BackendBlueprint_one'
              example:
                id: pbnd-ab12C345DeF6
                activation_type: instant
                auth_type: manual
                created_at: '2017-02-05T06:23:00.000000-08:00'
                listened_events:
                - '*'
                localhost_redirect_url: http://localhost:3000/login?from=hint
                localhost_webhook_url: null
                max_requests_per_minute: null
                name: Default
                redirect_url: https://hint-partner-emr.com/login?from=hint
                unmute_self_webhooks: false
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhooks_disabled: false
                webhooks_paused: false
                api_credentials_configuration: null
                products: []
                webhooks_signature_api_key:
                  id: i22X3eTjsV9kfNapfpuKYPrFU0hINpK9tVG3
                  label: null
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  last_used_at: null
                  deactivated_at: null
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.BackendsController.update_body'
  /partner/installations:
    get:
      tags:
      - Installation
      operationId: Installation.ListInstallations
      summary: List Installations
      description: 'Returns the partner''s installations — one per (product × practice connection). Each
        row carries the

        connected practice and product and survives the install/uninstall cycle (deactivated installs
        are

        returned too).'
      parameters:
      - name: limit
        in: query
        required: false
        description: Allows limiting the number of installations returned.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Allows offsetting the start of the returned page.
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        required: false
        description: Filter by installation status (`onboarding`, `pending`, `active`, `deactivated`).
        schema:
          type: string
      - name: created_at
        in: query
        required: false
        description: Allows filtering by date or time. Accepts an object with allowed keys of [gte, gt,
          lte, lt] and a value of the date or time in iso8601 format. See [advanced querying](https://developers.hint.com/reference/making-requests#advanced-querying)
          for more information.
        schema:
          type: string
          format: date-time
      - name: partner_product
        in: query
        required: false
        description: Filter by the public id of the partner product.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.InstallationBlueprint_all'
              example:
              - id: inst-ab12C345DeF6
                auto_grant_partner_app_access: true
                default_partner_app_admin_role: admin
                default_partner_app_non_admin_role: user
                status: active
                practice:
                  id: pra-ab12C345DeF6
                  name: Dr. Phil
                product:
                  id: ppro-ab12C345DeF6
                  name: Hint-Partner EMR
                  slug: hint-partner-emr
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
  /partner/installations/connect:
    post:
      tags:
      - Installation
      operationId: Installation.ConnectInstallation
      summary: Connect Installation
      description: 'Exchanges the authorization code issued when the practice installed the product and
        returns the

        installation with the API credentials the practice''s app uses to authenticate its requests.'
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.InstallationBlueprint_one_with_credential'
              example:
                id: inst-ab12C345DeF6
                auto_grant_partner_app_access: true
                default_partner_app_admin_role: admin
                default_partner_app_non_admin_role: user
                status: active
                api_keys:
                - id: i22X3eTjsV9kfNapfpuKYPrFU0hINpK9tVG3
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  deactivated_at: null
                  label: null
                  last_used_at: null
                  token: i22X3eTjsV9kfNapfpuKYPrFU0hINpK9tVG3
                practice:
                  id: pra-ab12C345DeF6
                  name: Dr. Phil
                product:
                  id: ppro-ab12C345DeF6
                  name: Hint-Partner EMR
                  slug: hint-partner-emr
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.InstallationsController.connect_body'
  /partner/installations/{id}:
    get:
      tags:
      - Installation
      operationId: Installation.ShowInstallation
      summary: Show Installation
      description: 'Returns a single installation by id. Deactivated installations are also

        returned — uninstall is reactivation-shaped, so a partner can inspect

        the durable per-product install row across the install/uninstall cycle.'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.InstallationBlueprint_one'
              example:
                id: inst-ab12C345DeF6
                auto_grant_partner_app_access: true
                default_partner_app_admin_role: admin
                default_partner_app_non_admin_role: user
                status: active
                practice:
                  id: pra-ab12C345DeF6
                  name: Dr. Phil
                product:
                  id: ppro-ab12C345DeF6
                  name: Hint-Partner EMR
                  slug: hint-partner-emr
  /partner/installations/{id}/activate:
    post:
      tags:
      - Installation
      operationId: Installation.ActivateInstallation
      summary: Activate Installation
      description: 'Activates a pending installation. The practice must have activated the connection
        first; the

        connection is activated as part of this call if it is not already active.'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.InstallationBlueprint_one'
              example:
                id: inst-ab12C345DeF6
                auto_grant_partner_app_access: true
                default_partner_app_admin_role: admin
                default_partner_app_non_admin_role: user
                status: active
                practice:
                  id: pra-ab12C345DeF6
                  name: Dr. Phil
                product:
                  id: ppro-ab12C345DeF6
                  name: Hint-Partner EMR
                  slug: hint-partner-emr
  /partner/installations/{id}/deactivate:
    post:
      tags:
      - Installation
      operationId: Installation.DeactivateInstallation
      summary: Deactivate Installation
      description: Deactivates the installation. The practice's other installations are not affected.
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.InstallationBlueprint_one'
              example:
                id: inst-ab12C345DeF6
                auto_grant_partner_app_access: true
                default_partner_app_admin_role: admin
                default_partner_app_non_admin_role: user
                status: deactivated
                practice:
                  id: pra-ab12C345DeF6
                  name: Dr. Phil
                product:
                  id: ppro-ab12C345DeF6
                  name: Hint-Partner EMR
                  slug: hint-partner-emr
  /partner/installations/{installation_id}/api_keys:
    get:
      tags:
      - InstallationApiKeys
      operationId: InstallationApiKeys.ListApiKeys
      summary: List Installation API Keys
      description: 'Lists the API keys for this installation''s practice connection. Keys are

        connection-scoped, so installs of the same practice''s products share them.'
      parameters:
      - name: installation_id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Allows limiting the number of API keys returned.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Allows offsetting the start of the returned page.
        schema:
          type: integer
          format: int32
      - name: label
        in: query
        required: false
        description: Filter by exact label match.
        schema:
          type: string
      - name: created_at
        in: query
        required: false
        description: Allows filtering by date or time. Accepts an object with allowed keys of [gte, gt,
          lte, lt] and a value of the date or time in iso8601 format. See [advanced querying](https://developers.hint.com/reference/making-requests#advanced-querying)
          for more information.
        schema:
          type: string
          format: date-time
      - name: last_used_at
        in: query
        required: false
        description: Same shape as `created_at`.
        schema:
          type: string
          format: date-time
      - name: deactivated_at
        in: query
        required: false
        description: 'Same shape as `created_at`. Pass `{ "is_present": true }` to include only deactivated
          keys.'
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ApiKeyBlueprint_all'
              example:
              - created_at: '2017-02-05T06:23:00.000000-08:00'
                deactivated_at: null
                label: API Key
                last_used_at: null
                token_last_4: tVG3
              - created_at: '2017-02-05T06:23:00.000000-08:00'
                deactivated_at: null
                label: API Key
                last_used_at: null
                token_last_4: tVG3
              - created_at: '2017-02-05T06:23:00.000000-08:00'
                deactivated_at: null
                label: API Key
                last_used_at: null
                token_last_4: tVG3
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
    post:
      tags:
      - InstallationApiKeys
      operationId: InstallationApiKeys.CreateApiKey
      summary: Create Installation API Key
      description: 'The full `token` value is only returned in this response. Store it

        securely — it cannot be retrieved later.'
      parameters:
      - name: installation_id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ApiKeyBlueprint_one'
              example:
                id: i22X3eTjsV9kfNapfpuKYPrFU0hINpK9tVG3
                created_at: '2017-02-05T06:23:00.000000-08:00'
                deactivated_at: null
                label: API Key
                last_used_at: null
                token: i22X3eTjsV9kfNapfpuKYPrFU0hINpK9tVG3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.Installations.ApiKeysController.create_body'
  /partner/installations/{installation_id}/api_keys/{id}:
    patch:
      tags:
      - InstallationApiKeys
      operationId: InstallationApiKeys.UpdateApiKey
      summary: Update Installation API Key
      description: ''
      parameters:
      - name: installation_id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Installation Api Keys ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ApiKeyBlueprint_one'
              example:
                id: i22X3eTjsV9kfNapfpuKYPrFU0hINpK9tVG3
                created_at: '2017-02-05T06:23:00.000000-08:00'
                deactivated_at: null
                label: API Key
                last_used_at: null
                token: i22X3eTjsV9kfNapfpuKYPrFU0hINpK9tVG3
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.Installations.ApiKeysController.update_body'
    delete:
      tags:
      - InstallationApiKeys
      operationId: InstallationApiKeys.DeleteApiKey
      summary: Delete Installation API Key
      description: ''
      parameters:
      - name: installation_id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Installation Api Keys ID
        schema:
          type: string
      responses:
        '204':
          description: Successful response
  /partner/installations/{installation_id}/webhook_endpoints:
    get:
      tags:
      - InstallationWebhookEndpoints
      operationId: InstallationWebhookEndpoints.ListWebhookEndpoints
      summary: List Installation Webhook Endpoints
      description: 'Lists the webhook endpoints registered on this installation''s practice connection.

        Endpoints are connection-scoped, so installs of the same practice''s products share them.'
      parameters:
      - name: installation_id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Allows limiting the number of webhook endpoints returned.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Allows offsetting the start of the returned page.
        schema:
          type: integer
          format: int32
      - name: webhook_url
        in: query
        required: false
        description: Filter by exact URL match.
        schema:
          type: string
      - name: created_at
        in: query
        required: false
        description: Allows filtering by date or time. Accepts an object with allowed keys of [gte, gt,
          lte, lt] and a value of the date or time in iso8601 format. See [advanced querying](https://developers.hint.com/reference/making-requests#advanced-querying)
          for more information.
        schema:
          type: string
          format: date-time
      - name: last_delivered_at
        in: query
        required: false
        description: Same shape as `created_at`.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.WebhookEndpointBlueprint_all'
              example:
              - id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
              - id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
              - id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
    post:
      tags:
      - InstallationWebhookEndpoints
      operationId: InstallationWebhookEndpoints.CreateWebhookEndpoint
      summary: Create Installation Webhook Endpoint
      description: ''
      parameters:
      - name: installation_id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.WebhookEndpointBlueprint_one'
              example:
                id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.Installations.WebhookEndpointsController.create_body'
  /partner/installations/{installation_id}/webhook_endpoints/{id}:
    patch:
      tags:
      - InstallationWebhookEndpoints
      operationId: InstallationWebhookEndpoints.UpdateWebhookEndpoint
      summary: Update Installation Webhook Endpoint
      description: ''
      parameters:
      - name: installation_id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Installation Webhook Endpoints ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.WebhookEndpointBlueprint_one'
              example:
                id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.Installations.WebhookEndpointsController.update_body'
    delete:
      tags:
      - InstallationWebhookEndpoints
      operationId: InstallationWebhookEndpoints.DeleteWebhookEndpoint
      summary: Delete Installation Webhook Endpoint
      description: ''
      parameters:
      - name: installation_id
        in: path
        required: true
        description: Unique Installation ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Installation Webhook Endpoints ID
        schema:
          type: string
      responses:
        '204':
          description: Successful response
  /partner/partner:
    get:
      tags:
      - Partner
      operationId: Partner.ShowPartner
      summary: Show Partner
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerBlueprint_one'
              example:
                id: ptr-ab12C345DeF6
                email: jane.doe@hint-partner-emr.com
                logo_url: null
                name: Hint-Partner EMR
    patch:
      tags:
      - Partner
      operationId: Partner.UpdatePartner
      summary: Update Partner
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerBlueprint_one'
              example:
                id: ptr-ab12C345DeF6
                email: jane.doe@hint-partner-emr.com
                logo_url: null
                name: Hint-Partner EMR
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.PartnersController.update_body'
  /partner/products:
    get:
      tags:
      - Product
      operationId: Product.ListProducts
      summary: List Products
      description: ''
      parameters:
      - name: backend
        in: query
        required: false
        description: Filter by the owning backend's public id (`pbnd-...`). Accepts a single value or
          comma-separated list.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ProductBlueprint_all'
              example:
              - id: ppro-ab12C345DeF6
                built_by_name: Hint-Partner
                built_by_url: https://hint-partner-emr.com
                icon_url: null
                name: Hint-Partner EMR
                slug: hint-partner-emr
                summary: A patient-friendly EMR that lives where your team already works.
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
    post:
      tags:
      - Product
      operationId: Product.CreateProduct
      summary: Create Product
      description: ''
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ProductBlueprint_one'
              example:
                id: ppro-ab12C345DeF6
                built_by_name: Hint-Partner
                built_by_url: https://hint-partner-emr.com
                icon_url: null
                name: Hint-Partner EMR
                slug: hint-partner-emr
                summary: A patient-friendly EMR that lives where your team already works.
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductSanitizer'
  /partner/products/categories:
    get:
      tags:
      - ProductCategory
      operationId: ProductCategory.ListAvailableProductCategories
      summary: List Available Product Categories
      description: 'Flat list of all marketplace categories currently in use. Useful for partners picking

        which categories to attach to their product — pick from this list to align with

        existing marketplace browse, or supply a new name to introduce one.'
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ProductCategoryBlueprint_all'
              example:
              - id: pproc-ab12C345DeF6
                name: Communication
  /partner/products/{id}:
    get:
      tags:
      - Product
      operationId: Product.GetProduct
      summary: Get Product
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ProductBlueprint_one'
              example:
                id: ppro-ab12C345DeF6
                built_by_name: Hint-Partner
                built_by_url: https://hint-partner-emr.com
                icon_url: null
                name: Hint-Partner EMR
                slug: hint-partner-emr
                summary: A patient-friendly EMR that lives where your team already works.
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
    patch:
      tags:
      - Product
      operationId: Product.UpdateProduct
      summary: Update Product
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ProductBlueprint_one'
              example:
                id: ppro-ab12C345DeF6
                built_by_name: Hint-Partner
                built_by_url: https://hint-partner-emr.com
                icon_url: null
                name: Hint-Partner EMR
                slug: hint-partner-emr
                summary: A patient-friendly EMR that lives where your team already works.
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductSanitizer'
    delete:
      tags:
      - Product
      operationId: Product.DestroyProduct
      summary: Destroy Product
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '204':
          description: Successful response
  /partner/products/{id}/request_review:
    post:
      tags:
      - Product
      operationId: Product.RequestProductReview
      summary: Request Product Review
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ProductBlueprint_one'
              example:
                id: ppro-ab12C345DeF6
                built_by_name: Hint-Partner
                built_by_url: https://hint-partner-emr.com
                icon_url: null
                name: Hint-Partner EMR
                slug: hint-partner-emr
                summary: A patient-friendly EMR that lives where your team already works.
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
  /partner/products/{product_id}/app:
    get:
      tags:
      - App
      operationId: App.GetProductApp
      summary: Get App
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.AppBlueprint_one'
              example:
                id: papp-ab12C345DeF6
                browser_allow_list: []
                default_admin_role: admin
                default_non_admin_role: clinician
                handshake_url: https://hint-partner-emr.com/hint/handshake
                localhost_handshake_url: http://localhost:3000/hint/handshake
                name: Hint-Partner EMR
                prepopulate_role_mappings: true
                status: in_development
                partner_roles:
                - name: admin
                  description: Full access to all features
                - name: clinician
                  description: Can read patient charts and write notes
                surfaces:
                - id: panch-ab12C345DeF6
                  source_url: https://hint-partner-emr.com/hint/core_page
                  localhost_source_url: http://localhost:3000/hint/core_page
                  type: core_page
                  core_page_icon_url: null
                  core_page_icon_label: Partner EMR
                  core_page_auto_adjust_height: true
    patch:
      tags:
      - App
      operationId: App.UpdateProductApp
      summary: Update App
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.AppBlueprint_one'
              example:
                id: papp-ab12C345DeF6
                browser_allow_list: []
                default_admin_role: admin
                default_non_admin_role: clinician
                handshake_url: https://hint-partner-emr.com/hint/handshake
                localhost_handshake_url: http://localhost:3000/hint/handshake
                name: Hint-Partner EMR
                prepopulate_role_mappings: true
                status: in_development
                partner_roles:
                - name: admin
                  description: Full access to all features
                - name: clinician
                  description: Can read patient charts and write notes
                surfaces:
                - id: panch-ab12C345DeF6
                  source_url: https://hint-partner-emr.com/hint/core_page
                  localhost_source_url: http://localhost:3000/hint/core_page
                  type: core_page
                  core_page_icon_url: null
                  core_page_icon_label: Partner EMR
                  core_page_auto_adjust_height: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppSanitizer'
    post:
      tags:
      - App
      operationId: App.CreateProductApp
      summary: Create App
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.AppBlueprint_one'
              example:
                id: papp-ab12C345DeF6
                browser_allow_list: []
                default_admin_role: admin
                default_non_admin_role: clinician
                handshake_url: https://hint-partner-emr.com/hint/handshake
                localhost_handshake_url: http://localhost:3000/hint/handshake
                name: Hint-Partner EMR
                prepopulate_role_mappings: true
                status: in_development
                partner_roles:
                - name: admin
                  description: Full access to all features
                - name: clinician
                  description: Can read patient charts and write notes
                surfaces:
                - id: panch-ab12C345DeF6
                  source_url: https://hint-partner-emr.com/hint/core_page
                  localhost_source_url: http://localhost:3000/hint/core_page
                  type: core_page
                  core_page_icon_url: null
                  core_page_icon_label: Partner EMR
                  core_page_auto_adjust_height: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppSanitizer'
  /partner/products/{product_id}/app/surfaces:
    post:
      tags:
      - AppSurface
      operationId: AppSurface.CreateProductAppSurface
      summary: Create App Surface
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.AppSurfaceBlueprint_one'
              example:
                id: panch-ab12C345DeF6
                source_url: https://hint-partner-emr.com/hint/core_page
                localhost_source_url: http://localhost:3000/hint/core_page
                type: core_page
                core_page_icon_url: null
                core_page_icon_label: Partner EMR
                core_page_auto_adjust_height: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.PartnerProductApps.SurfacesController.create_body'
  /partner/products/{product_id}/app/surfaces/{id}:
    patch:
      tags:
      - AppSurface
      operationId: AppSurface.UpdateProductAppSurface
      summary: Update App Surface
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique App Surface ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.AppSurfaceBlueprint_one'
              example:
                id: panch-ab12C345DeF6
                source_url: https://hint-partner-emr.com/hint/core_page
                localhost_source_url: http://localhost:3000/hint/core_page
                type: core_page
                core_page_icon_url: null
                core_page_icon_label: Partner EMR
                core_page_auto_adjust_height: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.PartnerProductApps.SurfacesController.update_body'
    delete:
      tags:
      - AppSurface
      operationId: AppSurface.DeleteProductAppSurface
      summary: Delete App Surface
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique App Surface ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /partner/products/{product_id}/categories:
    get:
      tags:
      - ProductCategory
      operationId: ProductCategory.ListProductCategories
      summary: List Product Categories
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ProductCategoryBlueprint_all'
              example:
              - id: pproc-ab12C345DeF6
                name: Communication
    post:
      tags:
      - ProductCategory
      operationId: ProductCategory.AttachProductCategory
      summary: Attach Product Category
      description: 'Attach a category to the product, either by `category_id` (an existing category from

        `GET /partner/products/categories`) or by `name`. A name must match an existing category —

        partners cannot mint new category names. If the category you need isn''t listed, contact

        devsupport@hint.com.'
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ProductCategoryBlueprint_one'
              example:
                id: pproc-ab12C345DeF6
                name: Communication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategorySanitizer'
  /partner/products/{product_id}/categories/{id}:
    delete:
      tags:
      - ProductCategory
      operationId: ProductCategory.DetachProductCategory
      summary: Detach Product Category
      description: Detach the category from the product. The category itself is preserved (other products
        may still be using it).
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Product Category ID
        schema:
          type: string
      responses:
        '204':
          description: Successful response
  /partner/products/{product_id}/highlights:
    get:
      tags:
      - PartnerProductHighlight
      operationId: PartnerProductHighlight.ListProductHighlights
      summary: List Product Highlights
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerProductHighlightBlueprint_all'
              example:
              - id: pprohl-ab12C345DeF6
                description: A chart, schedule, and patient inbox that fit how DPC clinics actually work.
                image_url: null
                position: 1
                title: Built for primary care
    post:
      tags:
      - PartnerProductHighlight
      operationId: PartnerProductHighlight.CreateProductHighlight
      summary: Create Product Highlight
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerProductHighlightBlueprint_one'
              example:
                id: pprohl-ab12C345DeF6
                description: A chart, schedule, and patient inbox that fit how DPC clinics actually work.
                image_url: null
                position: 1
                title: Built for primary care
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductHighlightSanitizer'
  /partner/products/{product_id}/highlights/{id}:
    patch:
      tags:
      - PartnerProductHighlight
      operationId: PartnerProductHighlight.UpdateProductHighlight
      summary: Update Product Highlight
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Partner Product Highlight ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerProductHighlightBlueprint_one'
              example:
                id: pprohl-ab12C345DeF6
                description: A chart, schedule, and patient inbox that fit how DPC clinics actually work.
                image_url: null
                position: 1
                title: Built for primary care
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductHighlightSanitizer'
    delete:
      tags:
      - PartnerProductHighlight
      operationId: PartnerProductHighlight.DestroyProductHighlight
      summary: Destroy Product Highlight
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Partner Product Highlight ID
        schema:
          type: string
      responses:
        '204':
          description: Successful response
  /partner/products/{product_id}/links:
    get:
      tags:
      - PartnerProductLink
      operationId: PartnerProductLink.ListProductLinks
      summary: List Product Links
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response. The `product_cta` link is reserved for the in-app install
            CTA and is excluded from this collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerProductLinkBlueprint_all'
              example:
              - id: pprolnk-ab12C345DeF6
                composed_url: https://docs.hint-partner-emr.com?utm_source=hint&utm_medium=marketplace&utm_campaign=hint_marketplace
                link_type: url
                position: 1
                title: Docs
                utm_campaign: hint_marketplace
                utm_content: null
                value: https://docs.hint-partner-emr.com
    post:
      tags:
      - PartnerProductLink
      operationId: PartnerProductLink.CreateProductLink
      summary: Create Product Link
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerProductLinkBlueprint_one'
              example:
                id: pprolnk-ab12C345DeF6
                composed_url: https://docs.hint-partner-emr.com?utm_source=hint&utm_medium=marketplace&utm_campaign=hint_marketplace
                link_type: url
                position: 1
                title: Docs
                utm_campaign: hint_marketplace
                utm_content: null
                value: https://docs.hint-partner-emr.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLinkSanitizer'
  /partner/products/{product_id}/links/{id}:
    patch:
      tags:
      - PartnerProductLink
      operationId: PartnerProductLink.UpdateProductLink
      summary: Update Product Link
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Partner Product Link ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerProductLinkBlueprint_one'
              example:
                id: pprolnk-ab12C345DeF6
                composed_url: https://docs.hint-partner-emr.com?utm_source=hint&utm_medium=marketplace&utm_campaign=hint_marketplace
                link_type: url
                position: 1
                title: Docs
                utm_campaign: hint_marketplace
                utm_content: null
                value: https://docs.hint-partner-emr.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLinkSanitizer'
    delete:
      tags:
      - PartnerProductLink
      operationId: PartnerProductLink.DestroyProductLink
      summary: Destroy Product Link
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Partner Product Link ID
        schema:
          type: string
      responses:
        '204':
          description: Successful response
  /partner/products/{product_id}/overview:
    get:
      tags:
      - PartnerProductOverview
      operationId: PartnerProductOverview.GetProductOverview
      summary: Get Product Overview
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerProductOverviewBlueprint_one'
              example:
                description: Hint-Partner EMR keeps your team in flow. The chart, the schedule, and the
                  patient inbox all live in one tab — and Hint-Partner stays out of the way until you
                  need it.
                images:
                - id: ptrimg-ab12C345DeF6
                  file_url: null
                  alt: Hint-Partner EMR overview screenshot
    patch:
      tags:
      - PartnerProductOverview
      operationId: PartnerProductOverview.UpdateProductOverview
      summary: Update Product Overview
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerProductOverviewBlueprint_one'
              example:
                description: Hint-Partner EMR keeps your team in flow. The chart, the schedule, and the
                  patient inbox all live in one tab — and Hint-Partner stays out of the way until you
                  need it.
                images:
                - id: ptrimg-ab12C345DeF6
                  file_url: null
                  alt: Hint-Partner EMR overview screenshot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductOverviewSanitizer'
  /partner/products/{product_id}/preconditions:
    get:
      tags:
      - PartnerProductPrecondition
      operationId: PartnerProductPrecondition.ListProductPreconditions
      summary: List Product Preconditions
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerProductPreconditionBlueprint_all'
              example:
              - id: pppc-ab12C345DeF6
                type: external_account
                url: https://hint-partner-emr.com/signup
    post:
      tags:
      - PartnerProductPrecondition
      operationId: PartnerProductPrecondition.CreateProductPrecondition
      summary: Create Product Precondition
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerProductPreconditionBlueprint_one'
              example:
                id: pppc-ab12C345DeF6
                type: external_account
                url: https://hint-partner-emr.com/signup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPreconditionSanitizer'
  /partner/products/{product_id}/preconditions/{id}:
    patch:
      tags:
      - PartnerProductPrecondition
      operationId: PartnerProductPrecondition.UpdateProductPrecondition
      summary: Update Product Precondition
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Partner Product Precondition ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.PartnerProductPreconditionBlueprint_one'
              example:
                id: pppc-ab12C345DeF6
                type: external_account
                url: https://hint-partner-emr.com/signup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPreconditionSanitizer'
    delete:
      tags:
      - PartnerProductPrecondition
      operationId: PartnerProductPrecondition.DestroyProductPrecondition
      summary: Destroy Product Precondition
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Partner Product Precondition ID
        schema:
          type: string
      responses:
        '204':
          description: Successful response
  /partner/products/{product_id}/testimonials:
    get:
      tags:
      - Testimonial
      operationId: Testimonial.ListProductTestimonials
      summary: List Product Testimonials
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ProductTestimonialBlueprint_all'
              example:
              - id: pproq-ab12C345DeF6
                author: Sarah Chen
                author_image_url: null
                author_title: Office Manager, Mesa Family Practice
                position: 1
                text: Hint-Partner cut our after-hours call volume in half.
    post:
      tags:
      - Testimonial
      operationId: Testimonial.CreateProductTestimonial
      summary: Create Product Testimonial
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ProductTestimonialBlueprint_one'
              example:
                id: pproq-ab12C345DeF6
                author: Sarah Chen
                author_image_url: null
                author_title: Office Manager, Mesa Family Practice
                position: 1
                text: Hint-Partner cut our after-hours call volume in half.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTestimonialSanitizer'
  /partner/products/{product_id}/testimonials/{id}:
    patch:
      tags:
      - Testimonial
      operationId: Testimonial.UpdateProductTestimonial
      summary: Update Product Testimonial
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Testimonial ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.ProductTestimonialBlueprint_one'
              example:
                id: pproq-ab12C345DeF6
                author: Sarah Chen
                author_image_url: null
                author_title: Office Manager, Mesa Family Practice
                position: 1
                text: Hint-Partner cut our after-hours call volume in half.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTestimonialSanitizer'
    delete:
      tags:
      - Testimonial
      operationId: Testimonial.DestroyProductTestimonial
      summary: Destroy Product Testimonial
      description: ''
      parameters:
      - name: product_id
        in: path
        required: true
        description: Unique Product ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Testimonial ID
        schema:
          type: string
      responses:
        '204':
          description: Successful response
  /partner/webhook_endpoints:
    get:
      tags:
      - WebhookEndpoint
      operationId: WebhookEndpoint.ListWebhookEndpoints
      summary: List Webhook Endpoints
      description: ''
      parameters:
      - name: limit
        in: query
        required: false
        description: Allows limiting the number of webhook endpoints returned.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Allows offsetting the start of the returned page.
        schema:
          type: integer
          format: int32
      - name: webhook_url
        in: query
        required: false
        description: Filter by exact URL match.
        schema:
          type: string
      - name: created_at
        in: query
        required: false
        description: Allows filtering by date or time. Accepts an object with allowed keys of [gte, gt,
          lte, lt] and a value of the date or time in iso8601 format. See [advanced querying](https://developers.hint.com/reference/making-requests#advanced-querying)
          for more information.
        schema:
          type: string
          format: date-time
      - name: last_delivered_at
        in: query
        required: false
        description: Same shape as `created_at`.
        schema:
          type: string
          format: date-time
      - name: backend
        in: query
        required: false
        description: Filter by the owning backend's public id (`pbnd-...`). Accepts a single value or
          comma-separated list.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.WebhookEndpointBlueprint_all'
              example:
              - id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
              - id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
              - id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
  /partner/webhook_endpoints/{id}:
    patch:
      tags:
      - WebhookEndpoint
      operationId: WebhookEndpoint.UpdateWebhookEndpoint
      summary: Update Webhook Endpoint
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Webhook Endpoint ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.WebhookEndpointBlueprint_one'
              example:
                id: whep-ab12C345DeF6
                created_at: '2017-02-05T06:23:00.000000-08:00'
                last_delivered_at: null
                updated_at: '2017-02-05T06:23:00.000000-08:00'
                webhook_url: https://api.partner/webhook_endpoint_url
                partner_backend:
                  id: pbnd-ab12C345DeF6
                  name: Default
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Partner.WebhookEndpointsController.update_body'
    delete:
      tags:
      - WebhookEndpoint
      operationId: WebhookEndpoint.DeleteWebhookEndpoint
      summary: Delete Webhook Endpoint
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: Unique Webhook Endpoint ID
        schema:
          type: string
      responses:
        '204':
          description: No content
  /partner/webhook_events:
    get:
      tags:
      - WebhookEvent
      operationId: WebhookEvent.ListWebhookEvents
      summary: List Webhook Event Types
      description: 'Returns the canonical list of event types delivered to partner webhook

        endpoints — every string is a `resource.action` pair (e.g. `patient.created`,

        `customer_invoice.paid`, `membership.updated`). Use this list to type-check

        incoming webhook payloads against the platform''s current event registry.

        Today there is no per-endpoint subscription filter — once a webhook endpoint

        is registered (`POST /partner/webhook_endpoints`), it receives the full set

        of events emitted for the partner''s connected practices. Implementations

        should ignore unknown event types; new resource/action pairs may be added

        without a version bump.'
      parameters: []
      responses:
        '200':
          description: Flat array of `resource.action` event-type strings, ordered by resource then action.
          content:
            application/json:
              example:
              - company.created
              - company.updated
              - company.destroyed
              - customer_invoice.created
              - customer_invoice.updated
              - customer_invoice.destroyed
              - customer_invoice.draft
              - customer_invoice.issued
              - customer_invoice.paid
              - customer_invoice.cancelled
              - invoice.created
              - invoice.updated
              - invoice.destroyed
              - invoice.draft
              - invoice.issued
              - invoice.paid
              - invoice.cancelled
              - employee_division.created
              - employee_division.updated
              - employee_division.destroyed
              - membership.created
              - membership.updated
              - membership.destroyed
              - patient.created
              - patient.updated
              - patient.destroyed
              - patient.inactive
              - prospect.created
              - prospect.updated
              - practitioner.created
              - practitioner.updated
              - practitioner.destroyed
              - integration.activated
              - integration.deactivated
              - installation.activated
              - installation.deactivated
              - signup_attempt.created
              - signup_attempt.updated
              - location.created
              - location.updated
              - location.destroyed
              - practice.created
              - practice.updated
              - practice.destroyed
              - practice.deactivated
  /partner/webhook_requests:
    get:
      tags:
      - WebhookRequest
      operationId: WebhookRequest.ListWebhookRequests
      summary: List Webhook Requests
      description: ''
      parameters:
      - name: limit
        in: query
        required: false
        description: Allows limiting the number of webhook requests returned.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Allows offsetting the start of the returned page.
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        required: false
        description: ' Filter by delivery status.'
        schema:
          type: string
          enum:
          - pending
          - attempted
          - delivered
          - retrying
          - failed
          - duplicate
          - non_requestable
      - name: event_type
        in: query
        required: false
        description: Filter by event type (e.g. `patient.created`).
        schema:
          type: string
      - name: attempts
        in: query
        required: false
        description: Filter by attempt count.
        schema:
          type: integer
          format: int32
      - name: created_at
        in: query
        required: false
        description: Allows filtering by date or time. Accepts an object with allowed keys of [gte, gt,
          lte, lt] and a value of the date or time in iso8601 format. See [advanced querying](https://developers.hint.com/reference/making-requests#advanced-querying)
          for more information.
        schema:
          type: string
          format: date-time
      - name: delivered_at
        in: query
        required: false
        description: Same shape as `created_at`.
        schema:
          type: string
          format: date-time
      - name: webhook_endpoint
        in: query
        required: false
        description: Filter by webhook endpoint id (`whep-…`).
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.WebhookRequestBlueprint_all'
              example:
              - attempts: 0
                created_at: '2017-02-05T06:23:00.000000-08:00'
                delivered_at: null
                event_type: patient.created
                last_attempted_at: null
                last_response: null
                last_status_code: null
                payload: null
                status: pending
                webhook_endpoint:
                  id: whep-ab12C345DeF6
                  webhook_url: https://www.awesome_partner.com/webhook_endpoint_url_1
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  updated_at: '2017-02-05T06:23:00.000000-08:00'
                  last_delivered_at: null
                  partner_backend:
                    id: pbnd-ab12C345DeF6
                    name: Default
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
  /provider/affiliate_ancillary_charges:
    get:
      tags:
      - AffiliateAncillaryCharge
      operationId: AffiliateAncillaryCharge.ListAffiliateAncillaryCharges
      summary: List All Affiliate Ancillary Charges
      description: 'Returns the network''s ancillary charges aggregated across every affiliate, newest
        first.

        Supports pagination through `limit` (default 10, min 1, max 100) and `offset` (default 0, min
        0).

        Sortable attributes are `created_at`, `status`, `sponsor` and `affiliate_practice`, ascending
        as

        `sort=attribute` and descending as `sort=-attribute`.'
      parameters:
      - name: sponsor
        in: query
        required: false
        description: The id of a sponsor, to only return that sponsor's charges
        schema:
          type: string
      - name: affiliate
        in: query
        required: false
        description: The id of an affiliate, to only return that affiliate's charges
        schema:
          type: string
      - name: affiliate_practice
        in: query
        required: false
        description: The id of an affiliate's practice, to only return its charges
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: 'Allows filtering by status, possible values: pending, approved'
        schema:
          type: string
      - name: start
        in: query
        required: false
        description: Only return charges added at or after this date or timestamp
        schema:
          type: string
      - name: end
        in: query
        required: false
        description: Only return charges added at or before this date or timestamp
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Maximum number of results (default 10, min 1, max 100)
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Pagination offset (default 0, min 0)
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        required: false
        description: Sort by created_at, status, sponsor or affiliate_practice; - reverses
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Public.AffiliateAncillaryChargeBlueprint_all'
              example:
              - id: anch-ab12C345DeF6
                status: approved
                created_at: '2017-02-05T06:23:00.000000-08:00'
                sponsor:
                  id: com-ab12C345DeF6
                  name: Isaac Supplies Inc
                affiliate:
                  id: aff-ab12C345DeF6
                  name: Dr. Phil
                affiliate_practice:
                  id: pra-ab12C345DeF6
                  name: Dr. Phil
                charge:
                  id: cha-ab12C345DeF6
                  name: Lab fee
                  status: draft
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  price_in_cents: 1000
                  quantity: 1
                  service_date: '2017-02-05'
                  total_in_cents: 1000
                  patient:
                    id: pat-ab12C345DeF6
                    name: Yvette Stevens
                  category:
                    id: cat-ab12C345DeF6
                    name: Charge Category 1
                    created_at: '2017-02-05T06:23:00.000000-08:00'
                    default_for_memberships: false
                  invoice:
                    id: inv-ab12C345DeF6
                    invoice_number: 1
                    type: customer_invoice
                sponsor_charge:
                  id: cha-ab12C345DeF6
                  name: Lab fee
                  status: draft
                  created_at: '2017-02-05T06:23:00.000000-08:00'
                  price_in_cents: 1000
                  quantity: 1
                  service_date: '2017-02-05'
                  total_in_cents: 1000
                  patient:
                    id: pat-ab12C345DeF6
                    name: Gordon Sumner
                  category:
                    id: cat-ab12C345DeF6
                    name: Charge Category 2
                    created_at: '2017-02-05T06:23:00.000000-08:00'
                    default_for_memberships: false
                  invoice:
                    id: inv-ab12C345DeF6
                    invoice_number: 1
                    type: customer_invoice
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
  /provider/affiliates:
    get:
      tags:
      - Affiliate
      operationId: Affiliate.ListAffiliates
      summary: List All Affiliates
      description: ''
      parameters:
      - name: status
        in: query
        required: false
        description: 'Allows filtering by active ones, possible values: pending, active, ended'
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Public.AffiliationBlueprint_all'
              example:
              - id: aff-ab12C345DeF6
                name: Dr. Phil
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
  /provider/affiliates/{affiliate_id}/affiliate_bills:
    get:
      tags:
      - AffiliateBill
      operationId: AffiliateBill.ListAffiliateBills
      summary: List All Affiliate Bills
      description: ''
      parameters:
      - name: affiliate_id
        in: path
        required: true
        description: Unique Affiliate ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Public.AffiliateBillBlueprint_all'
              example:
              - id: inv-ab12C345DeF6
                amount_in_cents: 20000
                human_status: issued
                invoice_date: '2017-02-01'
                invoice_number: 1
                paid_at: null
                paid_in_cents: 0
                company:
                  id: com-ab12C345DeF6
                  name: Schmoogle Inc.
                  owner:
                    id: user-ab12C345DeF6
                    email: fixture@example.com
                    first_name: Joe
                    last_name: Blogs
                    name: Joe Blogs
                    phones: []
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
  /provider/affiliates/{affiliate_id}/patients:
    post:
      tags:
      - AffiliatePatient
      operationId: AffiliatePatient.CreateAffiliatePatient
      summary: Assign patient to an affiliation
      description: ''
      parameters:
      - name: affiliate_id
        in: path
        required: true
        description: Unique Affiliate ID
        schema:
          type: string
      responses:
        '204':
          description: No content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider.Affiliates.PatientsController.create_body'
  /provider/affiliates/{affiliate_id}/patients/{id}:
    delete:
      tags:
      - AffiliatePatient
      operationId: AffiliatePatient.DestroyAffiliatePatient
      summary: Remove patient from an affiliation
      description: ''
      parameters:
      - name: affiliate_id
        in: path
        required: true
        description: Unique Affiliate ID
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Unique Affiliate Patient ID
        schema:
          type: string
      responses:
        '204':
          description: No content
  /provider/appointment_types:
    get:
      tags:
      - Appointment
      operationId: Appointment.ListAllAppointmentTypes
      summary: List All Appointment Types
      description: 'Returns the practice''s active appointment types. Inactive, archived, and deleted
        appointment types

        are excluded. As a result, an appointment''s `appointment_type_id` may reference a type that no
        longer

        appears in this list (for example, one archived after the appointment was booked). Treat an

        unfamiliar `appointment_type_id` as an unknown/retired type rather than an error.'
      parameters:
      - name: limit
        in: query
        required: false
        description: Defaults to 10, maximum 100.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Defaults to 0.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.AppointmentTypeBlueprint_all'
              example:
              - id: appty-3f9a2b7c4d1e6058
                name: Discovery Call
                duration: 30
                created_at: '2026-04-30T09:00:00.000Z'
                updated_at: '2026-05-06T13:55:00.000Z'
              - id: appty-8b1c5e9a2f7d3406
                name: Follow-up Visit
                duration: 15
                created_at: '2026-05-02T10:00:00.000Z'
                updated_at: '2026-05-02T10:00:00.000Z'
              - id: appty-c4a7f2e83b9d1560
                name: Annual Physical
                duration: 60
                created_at: '2026-05-01T15:30:00.000Z'
                updated_at: '2026-05-07T08:12:00.000Z'
          headers:
            X-Count:
              description: The number of resources returned in this request
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources available (scoped to query params)
              schema:
                type: integer
  /provider/appointments:
    get:
      tags:
      - Appointment
      operationId: Appointment.ListAllAppointments
      summary: List All Appointments
      description: 'Declined appointments are not returned by this endpoint.

        Recurring appointments are stored once and expanded into one appointment object per occurrence

        that falls within `start_date`/`end_date`. Occurrences that haven''t been individually modified

        share the base appointment''s `id`; once an occurrence''s status is changed (for example, checking

        a patient in), it''s returned as its own appointment with a new `id` and a `recurring_appointment_id`

        pointing back to the original recurring appointment. See [Recurring Appointments](https://developers.hint.com/docs/recurring-appointments)

        for details, including what happens when a series is edited after an occurrence has already split
        off.'
      parameters:
      - name: start_date
        in: query
        required: false
        description: Start of the query window (inclusive). Must be a valid ISO 8601 date string.
        schema:
          type: string
      - name: end_date
        in: query
        required: false
        description: End of the query window (inclusive). Must be a valid ISO 8601 date string. Range
          may not exceed 31 days.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: Filter by patient attendee. A patient id, such as `pat-` (or `sbx-pat-` in sandbox).
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: ' Allows filtering appointments by status.'
        schema:
          type: array
          items:
            type: string
            enum:
            - unconfirmed
            - confirmed
            - cancelled
      - name: limit
        in: query
        required: false
        description: Defaults to 10, maximum 100.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Defaults to 0.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public.AppointmentBlueprint_all'
              example:
              - id: appt-ab12C345DeF6
                start: '2026-05-06T14:00:00.000Z'
                end: '2026-05-06T14:30:00.000Z'
                status: confirmed
                workflow_status: waiting_for_provider
                title: Annual wellness visit
                description: Routine annual physical and wellness check-in.
                created_at: '2026-04-30T09:00:00.000Z'
                updated_at: '2026-05-06T13:55:00.000Z'
                appointment_type_id: appty-3f9a2b7c4d1e6058
                recurring_appointment_id: appt-Cd34E567FgH8
                host:
                  id: user-ab12C345DeF6
                  email: joe_374@example.com
                  first_name: Sara
                  last_name: Chen
                  name: Sara Chen
                  phones: []
                  product_users: []
                location:
                  id: loc-ab12C345DeF6
                  address_city: New York
                  address_country: United States
                  address_line1: 157 E Houston St
                  address_line2: Suite 2402
                  address_state: NY
                  address_zip: '10002'
                  name: San Francisco HQ
                attendees:
                - type: patient
                  patient:
                    id: pat-ab12C345DeF6
                    name: Jordan Rivera
                  contact: null
              - id: appt-ab12C345DeF6
                start: '2026-05-07T09:00:00.000Z'
                end: '2026-05-07T09:30:00.000Z'
                status: unconfirmed
                workflow_status: null
                title: Follow-up consultation
                description: Lab review and treatment plan.
                created_at: '2026-05-02T10:00:00.000Z'
                updated_at: '2026-05-02T10:00:00.000Z'
                appointment_type_id: appty-8b1c5e9a2f7d3406
                recurring_appointment_id: null
                host:
                  id: user-ab12C345DeF6
                  email: joe_376@example.com
                  first_name: Sara
                  last_name: Chen
                  name: Sara Chen
                  phones: []
                  product_users: []
                location:
                  id: loc-ab12C345DeF6
                  address_city: New York
                  address_country: United States
                  address_line1: 157 E Houston St
                  address_line2: Suite 2402
                  address_state: NY
                  address_zip: '10002'
                  name: San Francisco HQ
                attendees:
                - type: patient
                  patient:
                    id: pat-ab12C345DeF6
                    name: Jordan Rivera
                  contact: null
                - type: contact
                  patient: null
                  contact:
                    first: Alex
                    last: Rivera
                    email: alex.rivera@example.com
              - id: appt-ab12C345DeF6
                start: '2026-05-08T11:00:00.000Z'
                end: '2026-05-08T11:30:00.000Z'
                status: cancelled
                workflow_status: null
                title: New patient intake
                description: Cancelled by patient via portal.
                created_at: '2026-05-01T15:30:00.000Z'
                updated_at: '2026-05-07T08:12:00.000Z'
                appointment_type_id: appty-c4a7f2e83b9d1560
                recurring_appointment_id: null
                host:
                  id: user-ab12C345DeF6
                  email: joe_378@example.com
                  first_name: Sara
                  last_name: Chen
                  name: Sara Chen
                  phones: []
                  product_users: []
                location:
                  id: loc-ab12C345DeF6
                  address_city: New York
                  address_country: United States
                  address_line1: 157 E Houston St
                  address_line2: Suite 2402
                  address_state: NY
                  address_zip: '10002'
                  name: San Francisco HQ
[...]
