openapi: 3.0.3
info:
  title: Hint Health API
  description: REST API providing programmatic access to Hint Health's direct primary
    care platform, covering patient and membership management, billing, charges, invoices,
    clinical data, practice configuration, partner integrations, and webhook event
    delivery.
  version: '1.0'
  contact:
    name: Hint Health Developer Support
    email: devsupport@hint.com
    url: https://developers.hint.com
  license:
    name: Private
  termsOfService: https://www.hint.com/terms
servers:
- url: https://api.hint.com/api
  description: Production
- url: https://api.sandbox.hint.com/api
  description: Sandbox
security:
- BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Practice access token or Partner API key (Bearer authentication)
  schemas:
    Public.AffiliateBillBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          amount_in_cents:
            type: integer
            format: int32
          human_status:
            type: string
          invoice_date:
            type: string
            format: date
          invoice_number:
            type: string
          paid_at:
            type: string
            format: date-time
          paid_in_cents:
            type: integer
            format: int32
          company:
            $ref: '#/components/schemas/Public.CompanyBlueprint_leaf'
    Public.CompanyBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.AffiliationBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
    Provider.Affiliates.PatientsController.create_body:
      type: object
      properties:
        patient_id:
          type: string
      required:
      - patient_id
    Public.AffiliationBlueprint_affiliate_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.CancellationReasonBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          description:
            type: string
    Association:
      type: object
      properties:
        id:
          type: string
      required:
      - id
    ChargeItem:
      type: object
      properties:
        id:
          type: string
          description: Optional if name, code and code_type are specified
        name:
          type: string
          description: Required if no ID
        code:
          type: string
          description: Required if no ID
        code_type:
          type: string
          description: Required if no ID
          enum:
          - cpt
          - ndc
          - loinc
          - snowmed
        manufacturer:
          type: string
        days_supply:
          type: integer
      required:
      - id
      - name
      - code
      - code_type
    Category:
      type: object
      properties:
        id:
          type: string
          description: Optional if type is specified
        type:
          type: string
          description: Ignored if ID is specified
          enum:
          - memberships
          - labs
          - medications
          - vitamins_and_supplements
          - vaccines
          - imaging
          - supplies_and_dme
          - retail_items
          - office_visits
          - procedures
          - fees
      required:
      - id
      - type
    Provider.ChargesController.create_body:
      type: object
      properties:
        charge_item:
          $ref: '#/components/schemas/ChargeItem'
        patient:
          $ref: '#/components/schemas/Association'
        quantity:
          type: integer
          format: int32
        price_in_cents:
          type: number
          format: double
        description:
          type: string
        date:
          type: string
          format: date
        category:
          $ref: '#/components/schemas/Category'
        practitioner:
          $ref: '#/components/schemas/Association'
        location:
          $ref: '#/components/schemas/Association'
      required:
      - charge_item
      - patient
    Common.EmergencyContactBlueprint_shared:
      type: object
      properties:
        id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        name:
          type: string
        relationship:
          type: string
        phone:
          $ref: '#/components/schemas/Common.PhoneBlueprint_shared'
    Common.PhoneBlueprint_shared:
      type: object
      properties:
        number:
          type: string
        type:
          type: string
        us_formattable:
          type: string
    Common.SocialSecurityNumberBlueprint_masked:
      type: object
      properties:
        masked_number:
          type: string
    Public.CategoryBlueprint_one:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        created_at:
          type: string
          format: date-time
        default_for_memberships:
          type: boolean
    Public.ChargeBlueprint_one_with_invoice:
      type: object
      properties:
        id:
          type: string
        amount_in_cents:
          type: integer
          format: int32
        created_at:
          type: string
          format: date-time
        description:
          type: string
        is_persisted:
          type: boolean
        name:
          type: string
        price_in_cents:
          type: integer
          format: int32
        quantity:
          type: integer
          format: int32
        service_date:
          type: string
          format: date
        status:
          type: string
        subtotal_in_cents:
          type: integer
          format: int32
        tax_in_cents:
          type: integer
          format: int32
        total_in_cents:
          type: integer
          format: int32
        updated_at:
          type: string
          format: date-time
        category:
          $ref: '#/components/schemas/Public.CategoryBlueprint_one'
        charge_item:
          $ref: '#/components/schemas/Public.ChargeItemBlueprint_one'
        invoice:
          $ref: '#/components/schemas/Public.Payable.InvoiceBlueprint_one'
        location:
          $ref: '#/components/schemas/Public.LocationBlueprint_shared'
        patient:
          $ref: '#/components/schemas/Public.PatientBlueprint_one'
        practitioner:
          $ref: '#/components/schemas/Public.PractitionerBlueprint_one'
    Public.ChargeItemBlueprint_one:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        description:
          type: string
        name:
          type: string
        provider_web_link:
          type: string
        created_at:
          type: string
          format: date-time
        price_in_cents:
          type: number
          format: float
        quantity_in_stock:
          type: integer
          format: int32
        updated_at:
          type: string
          format: date-time
        category:
          $ref: '#/components/schemas/Public.CategoryBlueprint_one'
    Public.CompanyAccountBlueprint_min:
      type: object
      properties:
        id:
          type: string
    Public.CompanySponsorshipBlueprint_for_patient:
      type: object
      properties:
        id:
          type: string
        external_id:
          type: string
        is_subscriber:
          type: boolean
        type:
          type: string
        company:
          $ref: '#/components/schemas/Public.CompanyBlueprint_leaf'
        family:
          $ref: '#/components/schemas/Public.CompanyAccountBlueprint_min'
    Public.EmployeeDivisionBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.ExternalRecordBlueprint_min:
      type: object
      properties:
        source:
          type: string
        external_id:
          type: string
    Public.KnownPracticeBlueprint_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.LeadSourceBlueprint_one:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Public.LocationBlueprint_one:
      type: object
      properties:
        id:
          type: string
        address_city:
          type: string
        address_country:
          type: string
        address_latitude:
          type: number
          format: float
        address_line1:
          type: string
        address_line2:
          type: string
        address_longitude:
          type: number
          format: float
        address_state:
          type: string
        address_zip:
          type: string
        distance:
          type: string
        name:
          type: string
        phone_number:
          type: string
        virtual:
          type: boolean
        location_group:
          $ref: '#/components/schemas/Public.LocationGroupBlueprint_leaf'
    Public.LocationBlueprint_shared:
      type: object
      properties:
        id:
          type: string
        address_city:
          type: string
        address_country:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        address_state:
          type: string
        address_zip:
          type: string
        name:
          type: string
    Public.LocationGroupBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        integration_record_id:
          type: string
        name:
          type: string
        updated_at:
          type: string
          format: date-time
    Public.MembershipBlueprint_min:
      type: object
      properties:
        id:
          type: string
    Public.MembershipMemberBlueprint_for_patient:
      type: object
      properties:
        id:
          type: string
        enrollment_status:
          type: string
        member_type:
          type: string
        status:
          type: string
        enrollment_requested_on:
          type: string
          format: date
        start_date:
          type: string
          format: date
        end_date:
          type: string
        membership:
          $ref: '#/components/schemas/Public.MembershipBlueprint_min'
    Public.MembershipPatientBlueprint_one:
      type: object
      properties:
        end_date:
          type: string
        enrollment_requested_on:
          type: string
          format: date
        enrollment_status:
          type: string
        member_type:
          type: string
        start_date:
          type: string
          format: date
        status:
          type: string
        uses_tobacco:
          type: boolean
        company:
          $ref: '#/components/schemas/Public.CompanyBlueprint_leaf'
        division:
          $ref: '#/components/schemas/Public.EmployeeDivisionBlueprint_leaf'
        payer:
          $ref: '#/components/schemas/Public.PatientBlueprint_min'
        plan:
          $ref: '#/components/schemas/Public.PlanBlueprint_min'
    Public.NpiBlueprint_shared:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        number:
          type: string
        organization_name:
          type: string
        type:
          type: string
    Public.PatientBlueprint_one:
      type: object
      properties:
        id:
          type: string
        address_city:
          type: string
        address_country:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        address_state:
          type: string
        address_zip:
          type: string
        age:
          type: string
        chosen_first_name:
          type: string
        chosen_last_name:
          type: string
        chosen_middle_name:
          type: string
        chosen_suffix:
          type: string
        chosen_title:
          type: string
        created_at:
          type: string
          format: date-time
        dob:
          type: string
          format: date
        electronic_communication_consent_accepted:
          type: string
        electronic_communication_consent_accepted_at:
          type: string
        email:
          type: string
        engaged:
          type: boolean
        external_link_id:
          type: string
        first_name:
          type: string
        gender:
          type: string
        gender_identity:
          type: string
        gender_other:
          type: string
        health_insurance_group_id:
          type: string
        health_insurance_member_id:
          type: string
        health_insurance_payer_id:
          type: string
        health_insurance_payer_name:
          type: string
        hipaa_authorization_accepted:
          type: boolean
        hipaa_authorization_accepted_at:
          type: string
          format: date-time
        import_id:
          type: string
        import_source:
          type: string
        joined_practice_date:
          type: string
          format: date
        last_engagement_date:
          type: string
          format: date
        last_name:
          type: string
        lead_source_other:
          type: string
        master_record_sponsor:
          type: string
        membership_status:
          type: string
        middle_name:
          type: string
        name:
          type: string
        patient_agreement_accepted:
          type: boolean
        patient_agreement_accepted_at:
          type: string
          format: date-time
        preferred_language:
          type: string
        pronouns:
          type: string
        provider_web_link:
          type: string
        sex:
          type: string
        suffix:
          type: string
        terms_accepted:
          type: boolean
        terms_accepted_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        uses_tobacco:
          type: boolean
        account:
          $ref: '#/components/schemas/Public.PatientBlueprint_account'
        company:
          $ref: '#/components/schemas/Public.CompanyBlueprint_leaf'
        emergency_contact:
          $ref: '#/components/schemas/Common.EmergencyContactBlueprint_shared'
        external_records:
          $ref: '#/components/schemas/Public.ExternalRecordBlueprint_min'
        known_practice:
          $ref: '#/components/schemas/Public.KnownPracticeBlueprint_min'
        lead_source:
          $ref: '#/components/schemas/Public.LeadSourceBlueprint_one'
        location:
          $ref: '#/components/schemas/Public.LocationBlueprint_one'
        location_group:
          $ref: '#/components/schemas/Public.LocationGroupBlueprint_leaf'
        membership_members:
          $ref: '#/components/schemas/Public.MembershipMemberBlueprint_for_patient'
        memberships:
          $ref: '#/components/schemas/Public.MembershipPatientBlueprint_one'
        merged_into:
          $ref: '#/components/schemas/Public.PatientBlueprint_min'
        phones:
          $ref: '#/components/schemas/Public.PhoneBlueprint_leaf'
        practitioner:
          $ref: '#/components/schemas/Public.PractitionerBlueprint_one'
        practitioner_group:
          $ref: '#/components/schemas/Public.LocationGroupBlueprint_leaf'
        sponsorships:
          $ref: '#/components/schemas/Public.CompanySponsorshipBlueprint_for_patient'
        ssn:
          $ref: '#/components/schemas/Common.SocialSecurityNumberBlueprint_masked'
    Public.PatientBlueprint_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.PatientBlueprint_account:
      type: object
      properties:
        name:
          type: string
        past_due_in_cents:
          type: integer
          format: int32
    Public.Payable.InvoiceBlueprint_one:
      type: object
      properties:
        id:
          type: string
        amount_in_cents:
          type: integer
          format: int32
        date:
          type: string
          format: date
        human_status:
          type: string
        invoice_number:
          type: string
        status:
          type: string
        type:
          type: string
        url:
          type: string
    Public.PhoneBlueprint_leaf:
      type: object
      properties:
        number:
          type: string
        type:
          type: string
    Public.PlanBlueprint_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        plan_type:
          type: string
    Public.PractitionerBlueprint_one:
      type: object
      properties:
        id:
          type: string
        accepts_enrollments_from_employer:
          type: string
        accepts_enrollments_from_retail:
          type: string
        bio:
          type: string
        created_at:
          type: string
          format: date-time
        education:
          type: string
        email:
          type: string
        gender:
          type: string
        gender_other:
          type: string
        integration_record_id:
          type: string
        max_patient_age:
          type: string
        min_patient_age:
          type: string
        name:
          type: string
        online_signup_visibility:
          type: string
        panel_size:
          type: integer
          format: int32
        panel_size_limit:
          type: integer
          format: int32
        photo_url:
          type: string
        updated_at:
          type: string
          format: date-time
        locations:
          type: array
          items:
            $ref: '#/components/schemas/Public.LocationBlueprint_one'
        npi:
          $ref: '#/components/schemas/Public.NpiBlueprint_shared'
        specialties:
          type: array
          items:
            $ref: '#/components/schemas/Public.SpecialtyBlueprint_all'
    Public.SpecialtyBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
    Provider.ChargeItemsController.create_body:
      title: Create_Charge_Item
      type: object
      properties:
        name:
          type: string
        price_in_cents:
          type: number
          format: double
        type:
          type: string
        description:
          type: string
      required:
      - name
      - price_in_cents
      - type
    Public.ChargeItemBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          code:
            type: string
          created_at:
            type: string
            format: date-time
          description:
            type: string
          name:
            type: string
          price_in_cents:
            type: number
            format: float
          provider_web_link:
            type: string
          quantity_in_stock:
            type: integer
            format: int32
          updated_at:
            type: string
            format: date-time
          category:
            $ref: '#/components/schemas/Public.CategoryBlueprint_one'
    Provider.ChargeItemsController.update_body:
      title: Create_Charge_Item
      type: object
      properties:
        name:
          type: string
        price_in_cents:
          type: number
          format: double
        type:
          type: string
        description:
          type: string
      required:
      - name
      - price_in_cents
      - type
    Interaction.ClinicalNoteSanitizer:
      type: object
      properties:
        ? ''
        : type: string
          description: status [draft, signed, addended, deleted, failed] The status
            of the interaction.
        title:
          type: string
          description: The title of the interaction.
        text:
          type: string
          description: The plain text body of the interaction.
        formatted_text:
          type: string
          description: The formatted text body (markdown). Converted to HTML server-side.
        event_timestamp:
          type: string
          format: date-time
          description: The event timestamp of the interaction.
        files:
          type: array
          items:
            type: string
          description: File attachment paths. Files will be downloaded as part of
            the request.
        provider_name:
          type: string
          description: Name of the signing provider. When provided with status "signed",
            the API resolves it to a provider user ID for the signed field.
        integration_record_id:
          type: string
        integration_error_message:
          type: string
        integration_web_link:
          type: string
    Public.Interaction.ClinicalNoteBlueprint_one:
      type: object
      properties:
        id:
          type: string
        author:
          type: string
        event_timestamp:
          type: string
        files:
          type: string
        formatted_text:
          type: string
        patient_id:
          type: string
        signed:
          type: string
        status:
          type: string
        text:
          type: string
        title:
          type: string
        type:
          type: string
    PhoneNumber:
      type: object
      properties:
        id:
          type: string
        number:
          type: number
        type:
          type: string
        us_formattable:
          type: boolean
          description: Make this false if your number is not exactly 10 digits
      required:
      - number
      - type
    Address:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
      required:
      - line1
      - city
      - state
      - zip
    CompanyCreateSanitizer:
      type: object
      properties:
        default_plan:
          $ref: '#/components/schemas/Association'
          description: You must use plans of type "company"
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        phones:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
    Public.AddressBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        city:
          type: string
        country:
          type: string
        line1:
          type: string
        line2:
          type: string
        state:
          type: string
        zip:
          type: string
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
    Public.CompanyBlueprint_one:
      type: object
      properties:
        id:
          type: string
        employee_divisions_count:
          type: integer
          format: int32
        name:
          type: string
        status:
          type: string
        address:
          $ref: '#/components/schemas/Public.AddressBlueprint_leaf'
        default_location:
          $ref: '#/components/schemas/Public.LocationBlueprint_min'
        default_plan:
          $ref: '#/components/schemas/Public.PlanBlueprint_min'
        default_practitioner:
          $ref: '#/components/schemas/Public.PractitionerBlueprint_min'
        employee_divisions:
          $ref: '#/components/schemas/Public.EmployeeDivisionBlueprint_leaf'
        phones:
          $ref: '#/components/schemas/Public.PhoneBlueprint_leaf'
    Public.LocationBlueprint_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.PractitionerBlueprint_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.CompanyBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          employee_divisions_count:
            type: integer
            format: int32
          name:
            type: string
          status:
            type: string
          address:
            $ref: '#/components/schemas/Public.AddressBlueprint_leaf'
          default_location:
            $ref: '#/components/schemas/Public.LocationBlueprint_min'
          default_plan:
            $ref: '#/components/schemas/Public.PlanBlueprint_min'
          default_practitioner:
            $ref: '#/components/schemas/Public.PractitionerBlueprint_min'
          employee_divisions:
            $ref: '#/components/schemas/Public.EmployeeDivisionBlueprint_leaf'
          phones:
            $ref: '#/components/schemas/Public.PhoneBlueprint_leaf'
    Provider.CompanyPlansController.create_body:
      title: Create_Company_Plan
      type: object
      description: Plan Id must be provided.
      properties:
        plan:
          $ref: '#/components/schemas/Association'
          description: You must use plans of type "company"
        available_for_enrollment:
          type: boolean
      required:
      - plan
      - available_for_enrollment
    Public.CompanyPlanBlueprint_one:
      type: object
      properties:
        id:
          type: string
        available_for_enrollment:
          type: boolean
        is_default:
          type: boolean
        plan:
          $ref: '#/components/schemas/Public.PlanBlueprint_min'
    Public.CompanyPlanBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          available_for_enrollment:
            type: boolean
          is_default:
            type: boolean
          plan:
            $ref: '#/components/schemas/Public.PlanBlueprint_min'
    Provider.CompanyPlansController.update_body:
      title: Update_Company_Plan
      type: object
      properties:
        available_for_enrollment:
          type: boolean
    CompanyUpdateSanitizer:
      type: object
      properties:
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        phones:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
    Public.CouponBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          amount_off_in_cents:
            type: integer
            format: int32
          apply_to_each_patient:
            type: boolean
          code:
            type: string
          created_at:
            type: string
            format: date-time
          description:
            type: string
          duration_in_months:
            type: integer
            format: int32
          is_archived:
            type: boolean
          is_redeemable:
            type: boolean
          percent_off:
            type: number
            format: float
          redeemable_from:
            type: string
            format: date-time
          redeemable_until:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
    Public.CouponBlueprint_one:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        description:
          type: string
        amount_off_in_cents:
          type: integer
          format: int32
        apply_to_each_patient:
          type: boolean
        created_at:
          type: string
          format: date-time
        duration_in_months:
          type: integer
          format: int32
        percent_off:
          type: number
          format: float
        updated_at:
          type: string
          format: date-time
        is_redeemable:
          type: boolean
        is_archived:
          type: boolean
        redeemable_from:
          type: string
          format: date-time
        redeemable_until:
          type: string
          format: date-time
    Provider.CreditCategoriesController.create_body:
      type: object
      properties:
        name:
          type: string
          description: Value is case sensitive. If you delete a Credit Category, you
            can restore it by POSTing with the same name.
      required:
      - name
    Public.CreditCategoryBlueprint_one:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        name:
          type: string
        updated_at:
          type: string
          format: date-time
    Public.CreditCategoryBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          created_at:
            type: string
            format: date-time
          name:
            type: string
          updated_at:
            type: string
            format: date-time
    Provider.CreditCategoriesController.update_body:
      type: object
      properties:
        name:
          type: string
          description: Value is case sensitive. If you delete a Credit Category, you
            can restore it by POSTing with the same name.
      required:
      - name
    Provider.CreditsController.create_body:
      title: Create_Credit
      type: object
      properties:
        credit_category:
          $ref: '#/components/schemas/Association'
        amount_in_cents:
          type: integer
          format: int32
          description: Value must be positive
        reason:
          type: string
        integration_record_id:
          type: string
      required:
      - credit_category
      - amount_in_cents
    Public.CreditBlueprint_one:
      type: object
      properties:
        id:
          type: string
        amount_in_cents:
          type: integer
          format: int32
        balance_in_cents:
          type: integer
          format: int32
        created_at:
          type: string
          format: date-time
        integration_record_id:
          type: string
        reason:
          type: string
        updated_at:
          type: string
          format: date-time
        credit_category:
          $ref: '#/components/schemas/Public.CreditCategoryBlueprint_min'
    Public.CreditCategoryBlueprint_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Public.CreditBlueprint_min:
      type: object
      properties:
        id:
          type: string
    Public.CreditLineBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          amount_in_cents:
            type: integer
            format: int32
          created_at:
            type: string
            format: date-time
          transaction_date:
            type: string
            format: date
          type:
            type: string
          credit:
            $ref: '#/components/schemas/Public.CreditBlueprint_min'
          invoice:
            $ref: '#/components/schemas/Public.Payable.InvoiceBlueprint_min_with_owner'
    Public.Payable.InvoiceBlueprint_min_with_owner:
      type: object
      properties:
        id:
          type: string
        invoice_number:
          type: string
        type:
          type: string
        owner:
          $ref: '#/components/schemas/Public.Payable.OwnerBlueprint_min'
    Public.Payable.OwnerBlueprint_min:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
    Public.CreditBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          amount_in_cents:
            type: integer
            format: int32
          balance_in_cents:
            type: integer
            format: int32
          created_at:
            type: string
            format: date-time
          integration_record_id:
            type: string
          reason:
            type: string
          updated_at:
            type: string
            format: date-time
          credit_category:
            $ref: '#/components/schemas/Public.CreditCategoryBlueprint_min'
    Provider.CreditsController.update_body:
      title: Update_Credit
      type: object
      properties:
        amount_in_cents:
          type: integer
          format: int32
          description: Value must be greater than or equal to 0
        reason:
          type: string
      required:
      - amount_in_cents
    Provider.CustomerInvoices.ChargesController.create_body:
      type: object
      properties:
        quantity:
          type: number
          format: double
        price_in_cents:
          type: number
          format: double
        name:
          type: string
        description:
          type: string
        date:
          type: string
          format: date
        patient:
          $ref: '#/components/schemas/Association'
        practitioner:
          $ref: '#/components/schemas/Association'
        category:
          $ref: '#/components/schemas/Association'
        charge_item:
          $ref: '#/components/schemas/Association'
        location:
          $ref: '#/components/schemas/Association'
      required:
      - quantity
      - price_in_cents
      - name
    Provider.CustomerInvoices.ChargesController.update_body:
      type: object
      properties:
        quantity:
          type: number
          format: double
        price_in_cents:
          type: number
          format: double
        name:
          type: string
        description:
          type: string
        date:
          type: string
          format: date
        patient:
          $ref: '#/components/schemas/Association'
        practitioner:
          $ref: '#/components/schemas/Association'
        category:
          $ref: '#/components/schemas/Association'
        charge_item:
          $ref: '#/components/schemas/Association'
        location:
          $ref: '#/components/schemas/Association'
      required:
      - quantity
      - price_in_cents
      - name
    Provider.CustomerInvoicesController.create_body:
      title: Create_Customer_Invoice
      type: object
      description: Owner or patient or both must be provided. If you do not specify
        owner, we will either use the patient's last payer, or the patient themselves
      properties:
        integration_record_id:
          type: string
        owner:
          $ref: '#/components/schemas/Association'
        patient:
          $ref: '#/components/schemas/Association'
    Public.ChargeBlueprint_one:
      type: object
      properties:
        id:
          type: string
        amount_in_cents:
          type: integer
          format: int32
        created_at:
          type: string
          format: date-time
        description:
          type: string
        is_persisted:
          type: boolean
        name:
          type: string
        price_in_cents:
          type: integer
          format: int32
        quantity:
          type: integer
          format: int32
        service_date:
          type: string
          format: date
        status:
          type: string
        subtotal_in_cents:
          type: integer
          format: int32
        tax_in_cents:
          type: integer
          format: int32
        total_in_cents:
          type: integer
          format: int32
        updated_at:
          type: string
          format: date-time
        category:
          $ref: '#/components/schemas/Public.CategoryBlueprint_one'
        charge_item:
          $ref: '#/components/schemas/Public.ChargeItemBlueprint_one'
        location:
          $ref: '#/components/schemas/Public.LocationBlueprint_shared'
        patient:
          $ref: '#/components/schemas/Public.PatientBlueprint_one'
        practitioner:
          $ref: '#/components/schemas/Public.PractitionerBlueprint_one'
    Public.CustomerInvoiceBlueprint_one:
      type: object
      properties:
        id:
          type: string
        amount_in_cents:
          type: integer
          format: int32
        charges_count:
          type: integer
          format: int32
        created_at:
          type: string
          format: date-time
        date:
          type: string
          format: date
        due_in_cents:
          type: integer
          format: int32
        human_status:
          type: string
        integration_record_id:
          type: string
        invoice_number:
          type: integer
          format: int32
        last_sent_at:
          type: string
          format: date-time
        last_viewed_at:
          type: string
          format: date-time
        paid_at:
          type: string
          format: date-time
        paid_in_cents:
          type: integer
          format: int32
        payment_status:
          type: string
        payments_count:
          type: integer
          format: int32
        provider_web_link:
          type: string
        received_in_cents:
          type: integer
          format: int32
        status:
          type: string
        subtotal_in_cents:
          type: integer
          format: int32
        tax_in_cents:
          type: integer
          format: int32
        total_in_cents:
          type: integer
          format: int32
        updated_at:
          type: string
          format: date-time
        charges:
          $ref: '#/components/schemas/Public.ChargeBlueprint_one'
        owner:
          $ref: '#/components/schemas/Public.PatientBlueprint_one'
    Public.PdfBlueprint_one:
      type: object
      properties:
        url:
          type: string
    Public.CustomerInvoiceBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          amount_in_cents:
            type: integer
            format: int32
          charges_count:
            type: string
          created_at:
            type: string
            format: date-time
          date:
            type: string
            format: date
          due_in_cents:
            type: integer
            format: int32
          human_status:
            type: string
          integration_record_id:
            type: string
          invoice_number:
            type: integer
            format: int32
          last_sent_at:
            type: string
            format: date-time
          last_viewed_at:
            type: string
            format: date-time
          paid_at:
            type: string
            format: date-time
          paid_in_cents:
            type: integer
            format: int32
          payment_status:
            type: string
          payments_count:
            type: string
          provider_web_link:
            type: string
          received_in_cents:
            type: integer
            format: int32
          status:
            type: string
          subtotal_in_cents:
            type: integer
            format: int32
          tax_in_cents:
            type: integer
            format: int32
          total_in_cents:
            type: integer
            format: int32
          updated_at:
            type: string
            format: date-time
          charges:
            $ref: '#/components/schemas/Public.ChargeBlueprint_one'
          owner:
            $ref: '#/components/schemas/Public.PatientBlueprint_one'
    PaymentSource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
      required:
      - id
      - type
    Provider.PaymentsController.create_body:
      title: Create Payment
      type: object
      properties:
        amount_in_cents:
          type: number
          format: double
          description: When creating a payment you can add an amount_in_cents, if
            no amount is included, we will set the payment amount = due_in_cents.
        external:
          type: boolean
          description: 'When creating a payment, processed payments are required to
            include `process: true`, mark-as-paid payments are required to include
            `external: true` as an attribute. The request fails if it does not contain
            only one of these attributes.'
        memo:
          type: string
        process:
          type: boolean
          description: 'When creating a payment, processed payments are required to
            include `process: true`, mark-as-paid payments are required to include
            `external: true` as an attribute. The request fails if it does not contain
            only one of these attributes.'
        paid_at:
          type: string
          format: date
          description: When creating a payment you can specify the date, if no a date
            is included, we will set it to the `Hint.today` date. Date must be formatted
            as YYYY-MM-DD.
        source:
          $ref: '#/components/schemas/PaymentSource'
          description: A payment source to process the payment can be specified, if
            empty the patient's default payment source will be used. The request fails
            if the patient has no default payment source and source is not specified.
    Public.PaymentBlueprint_one:
      type: object
      properties:
        id:
          type: string
        error_message:
          type: string
        memo:
          type: string
        status:
          type: string
        date:
          type: string
          format: date-time
        amount_in_cents:
          type: integer
          format: int32
        external:
          type: boolean
        external_type:
          type: string
        source:
          $ref: '#/components/schemas/Public.SourceBlueprint_leaf'
    Public.SourceBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
    Public.PaymentBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          amount_in_cents:
            type: integer
            format: int32
          date:
            type: string
            format: date-time
          error_message:
            type: string
          external:
            type: boolean
          external_type:
            type: string
          memo:
            type: string
          status:
            type: string
          source:
            $ref: '#/components/schemas/Public.SourceBlueprint_leaf'
    Provider.CustomerInvoicesController.update_body:
      title: Create_Customer_Invoice
      type: object
      description: Owner or patient or both must be provided. If you do not specify
        owner, we will either use the patient's last payer, or the patient themselves
      properties:
        integration_record_id:
          type: string
        owner:
          $ref: '#/components/schemas/Association'
        patient:
          $ref: '#/components/schemas/Association'
    Provider.Patients.Interactions.DocumentController.create_body:
      title: Create_DocumentInteraction
      type: object
      properties:
        status:
          type: string
          description: ' The status of the interaction.'
          enum:
          - draft
          - signed
          - addended
          - deleted
          - failed
        title:
          type: string
          description: The title of the interaction.
        body:
          type: string
          description: The body of the interaction. Markdown formatted.
        attachments:
          type: array
          items:
            type: string
          description: The attachments of the interaction. Files will be downloaded
            as part of the request.
        integration_record_id:
          type: string
        integration_error_message:
          type: string
        integration_web_link:
          type: string
      required:
      - status
    Public.InteractionBlueprint_one:
      type: object
      properties:
        id:
          type: string
        body:
          type: string
        patient_id:
          type: string
        status:
          type: string
        title:
          type: string
        type:
          type: string
    Provider.Patients.Interactions.DocumentController.update_body:
      title: Update_DocumentInteraction
      type: object
      properties:
        status:
          type: string
          description: ' The status of the interaction.'
          enum:
          - draft
          - signed
          - addended
          - deleted
          - failed
        title:
          type: string
          description: The title of the interaction.
        body:
          type: string
          description: The body of the interaction.
        attachments:
          type: array
          items:
            type: string
          description: The attachments of the interaction. Files will be downloaded
            as part of the request. If provided it will OVERRIDE the attachments on
            the interaction so make sure to provide all the attachments if you want
            to keep them.
        integration_record_id:
          type: string
        integration_error_message:
          type: string
        integration_web_link:
          type: string
      required:
      - status
    Public.EmployeeDivisionBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
    Common.RecordBlueprint_min:
      type: object
      properties:
        id:
          type: string
    Public.FormBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        name:
          type: string
        created_at:
          type: string
          format: date-time
        form_items:
          $ref: '#/components/schemas/Public.FormItemBlueprint_leaf'
    Public.FormItemBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        help_text:
          type: string
        item_type:
          type: string
        title:
          type: string
    Public.FormResponseBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          created_at:
            type: string
            format: date-time
          form:
            $ref: '#/components/schemas/Public.FormBlueprint_leaf'
          form_response_items:
            $ref: '#/components/schemas/Public.FormResponseItemBlueprint_leaf'
          subject:
            $ref: '#/components/schemas/Common.RecordBlueprint_min'
    Public.FormResponseItemBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        answer:
          type: string
        respondent:
          $ref: '#/components/schemas/Common.RecordBlueprint_min'
    Public.FormResponseBlueprint_one:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        form:
          $ref: '#/components/schemas/Public.FormBlueprint_leaf'
        form_response_items:
          $ref: '#/components/schemas/Public.FormResponseItemBlueprint_leaf'
        subject:
          $ref: '#/components/schemas/Common.RecordBlueprint_min'
    Platform.WebhookEndpointsController.create_body:
      type: object
      properties:
        webhook_url:
          type: string
      required:
      - webhook_url
    Platform.WebhookEndpointBlueprint_one:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
        last_delivered_at:
          type: string
        updated_at:
          type: string
        webhook_url:
          type: string
    Platform.WebhookEndpointsController.update_body:
      title: Update_WebhookEndpoint_Legacy
      type: object
      properties:
        webhook_url:
          type: string
    Platform.WebhookEndpointBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          created_at:
            type: string
          last_delivered_at:
            type: string
          updated_at:
            type: string
          webhook_url:
            type: string
    Platform.IntegrationBlueprint_one:
      type: object
      properties:
        id:
          type: string
        expires_in:
          type: string
        refresh_token:
          type: string
        status:
          type: string
        token_type:
          type: string
        webhook_url_default:
          type: string
          deprecated: true
        webhook_url_override:
          type: string
          deprecated: true
        practice:
          $ref: '#/components/schemas/Platform.PracticeBlueprint_for_integration'
    Platform.PracticeBlueprint_for_integration:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Platform.IntegrationBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          expires_in:
            type: string
          refresh_token:
            type: string
          status:
            type: string
          token_type:
            type: string
          webhook_url_default:
            type: string
            deprecated: true
          webhook_url_override:
            type: string
            deprecated: true
          practice:
            $ref: '#/components/schemas/Platform.PracticeBlueprint_for_integration'
    Platform.IntegrationsController.update_body:
      title: Update_Integration
      type: object
      properties:
        webhook_url_override:
          type: string
          deprecated: true
    Public.InteractionBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          body:
            type: string
          patient_id:
            type: string
          status:
            type: string
          title:
            type: string
          type:
            type: string
    Provider.Interactions.NotificationsController.create_body:
      title: Create_InteractionNotification
      type: object
      properties:
        title:
          type: string
          description: The title of the interaction notification.
    Public.InteractionNotificationBlueprint_one:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
    Interaction.LabSanitizer:
      type: object
      properties:
        status:
          type: string
          description: The status of the interaction. Defaults to "SENT"
          enum:
          - sent
          - fulfilled
        vendor_order_id:
          type: string
          description: External vendor order ID (used for idempotency)
        event_timestamp:
          type: string
          format: date-time
          description: Defaults to current time
        order:
          $ref: '#/components/schemas/Interaction.LabSanitizer.OrderSanitizer'
          description: Lab order details
        report:
          $ref: '#/components/schemas/Interaction.LabSanitizer.ReportSanitizer'
          description: Diagnostic report details
        results:
          type: array
          items:
            $ref: '#/components/schemas/Interaction.LabSanitizer.ResultSanitizer'
          description: Lab result observations
        integration_record_id:
          type: string
        integration_error_message:
          type: string
        integration_web_link:
          type: string
    Interaction.LabSanitizer.OrderSanitizer:
      type: object
      properties:
        lab_reference_id:
          type: string
          description: External reference ID for the lab order
        ordered_from:
          type: string
          description: Lab provider name (e.g., "LabCorp")
        authored_on:
          type: string
          description: When the order was authored
        collected_at:
          type: string
          format: date-time
          description: When the specimen was collected
        author:
          type: string
          description: Name or ID of the ordering provider
        author_reference:
          type: string
          description: Reference identifier for the author
        actions:
          type: array
          items:
            $ref: '#/components/schemas/Interaction.LabSanitizer.ActionSanitizer'
          description: Ordered tests/panels
        intent:
          type: string
          description: Order intent
        subject:
          $ref: '#/components/schemas/Interaction.LabSanitizer.SubjectSanitizer'
          description: Subject of the lab order
        lab_account_id:
          type: string
          description: Lab account identifier
    Interaction.LabSanitizer.ActionSanitizer:
      type: object
      properties:
        reference:
          type: string
          description: Reference code for the test
        display:
          type: string
          description: Human-readable test name
      required:
      - reference
      - display
    Interaction.LabSanitizer.SubjectSanitizer:
      type: object
      properties:
        reference:
          type: string
          description: Subject reference ID
        display:
          type: string
          description: Subject display name
    Interaction.LabSanitizer.ReportSanitizer:
      type: object
      properties:
        issued:
          type: string
          format: date-time
          description: When the report was issued
        status:
          type: string
          description: Report status (e.g., "final", "preliminary")
        lab_reference_id:
          type: string
          description: External lab reference ID
        order_reference:
          type: string
          description: Reference to the originating order
      required:
      - issued
      - status
    Interaction.LabSanitizer.ResultSanitizer:
      type: object
      properties:
        id:
          type: string
          description: Unique result identifier
        code:
          type: array
          items:
            $ref: '#/components/schemas/Interaction.LabSanitizer.ResultCodeSanitizer'
          description: At least one coding entry (min 1)
        code_text:
          type: string
          description: Human-readable name for the result
        issued:
          type: string
          format: date-time
          description: When the result was issued
        value_quantity:
          $ref: '#/components/schemas/Interaction.LabSanitizer.ResultQuantitySanitizer'
          description: Numeric result value with unit
        value_string:
          type: string
          description: String result value
        text:
          type: string
          description: Additional narrative text
        interpretation:
          type: array
          items:
            type: string
          description: Interpretation codes (e.g., ["normal"])
        ranges:
          type: array
          items:
            $ref: '#/components/schemas/Interaction.LabSanitizer.ResultRangeSanitizer'
          description: Reference ranges
        subject:
          type: string
          description: Subject reference
      required:
      - id
      - code
      - code_text
      - issued
    Interaction.LabSanitizer.ResultCodeSanitizer:
      type: object
      properties:
        code:
          type: string
          description: LOINC code value (only LOINC is supported)
        display:
          type: string
          description: Human-readable name
      required:
      - code
      - display
    Interaction.LabSanitizer.ResultQuantitySanitizer:
      type: object
      properties:
        value:
          type: integer
          format: int32
          description: The measured value
        unit:
          type: string
          description: Unit of measure (e.g., "mg/dL")
      required:
      - value
      - unit
    Interaction.LabSanitizer.ResultRangeSanitizer:
      type: object
      properties:
        low:
          $ref: '#/components/schemas/Interaction.LabSanitizer.ResultQuantitySanitizer'
          description: Lower bound of range
        high:
          $ref: '#/components/schemas/Interaction.LabSanitizer.ResultQuantitySanitizer'
          description: Upper bound of range
        text:
          type: string
          description: Textual range description
    Public.Interaction.Lab.Order.ActionBlueprint_leaf:
      type: object
      properties:
        reference:
          type: string
        display:
          type: string
    Public.Interaction.Lab.Order.SubjectBlueprint_leaf:
      type: object
      properties:
        reference:
          type: string
        display:
          type: string
    Public.Interaction.Lab.OrderBlueprint_leaf:
      type: object
      properties:
        lab_reference_id:
          type: string
        ordered_from:
          type: string
        authored_on:
          type: string
        collected_at:
          type: string
        author:
          type: string
        author_reference:
          type: string
        intent:
          type: string
        lab_account_id:
          type: string
        actions:
          $ref: '#/components/schemas/Public.Interaction.Lab.Order.ActionBlueprint_leaf'
        subject:
          $ref: '#/components/schemas/Public.Interaction.Lab.Order.SubjectBlueprint_leaf'
    Public.Interaction.Lab.ReportBlueprint_leaf:
      type: object
      properties:
        issued:
          type: string
        status:
          type: string
        lab_reference_id:
          type: string
        order_reference:
          type: string
    Public.Interaction.Lab.Result.CodeBlueprint_leaf:
      type: object
      properties:
        code:
          type: string
        display:
          type: string
    Public.Interaction.Lab.Result.QuantityBlueprint_leaf:
      type: object
      properties:
        value:
          type: string
        unit:
          type: string
    Public.Interaction.Lab.Result.RangeBlueprint_leaf:
      type: object
      properties:
        text:
          type: string
        low:
          $ref: '#/components/schemas/Public.Interaction.Lab.Result.QuantityBlueprint_leaf'
        high:
          $ref: '#/components/schemas/Public.Interaction.Lab.Result.QuantityBlueprint_leaf'
    Public.Interaction.Lab.ResultBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        code_text:
          type: string
        issued:
          type: string
        value_string:
          type: string
        text:
          type: string
        interpretation:
          type: string
        subject:
          type: string
        code:
          $ref: '#/components/schemas/Public.Interaction.Lab.Result.CodeBlueprint_leaf'
        value_quantity:
          $ref: '#/components/schemas/Public.Interaction.Lab.Result.QuantityBlueprint_leaf'
        ranges:
          $ref: '#/components/schemas/Public.Interaction.Lab.Result.RangeBlueprint_leaf'
    Public.Interaction.LabBlueprint_one:
      type: object
      properties:
        id:
          type: string
        event_timestamp:
          type: string
        status:
          type: string
        type:
          type: string
        vendor_order_id:
          type: string
        order:
          $ref: '#/components/schemas/Public.Interaction.Lab.OrderBlueprint_leaf'
        report:
          $ref: '#/components/schemas/Public.Interaction.Lab.ReportBlueprint_leaf'
        results:
          $ref: '#/components/schemas/Public.Interaction.Lab.ResultBlueprint_leaf'
    Provider.LeadSourcesController.create_body:
      title: Create_LeadSource
      type: object
      properties:
        name:
          type: string
    Public.LeadSourceBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          created_at:
            type: string
            format: date-time
          name:
            type: string
          updated_at:
            type: string
            format: date-time
    Provider.LeadSourcesController.update_body:
      title: Create_LeadSource
      type: object
      properties:
        name:
          type: string
    Provider.LocationsController.create_body:
      type: object
      properties:
        name:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        address_city:
          type: string
        address_state:
          type: string
        address_zip:
          type: string
        address_country:
          type: string
        phone_number:
          type: string
        virtual:
          type: boolean
        location_group:
          $ref: '#/components/schemas/Association'
      required:
      - name
    Public.LocationBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          address_city:
            type: string
          address_country:
            type: string
          address_latitude:
            type: number
            format: float
          address_line1:
            type: string
          address_line2:
            type: string
          address_longitude:
            type: number
            format: float
          address_state:
            type: string
          address_zip:
            type: string
          distance:
            type: string
          name:
            type: string
          phone_number:
            type: string
          virtual:
            type: boolean
          location_group:
            $ref: '#/components/schemas/Public.LocationGroupBlueprint_leaf'
    Provider.LocationsController.update_body:
      type: object
      properties:
        name:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        address_city:
          type: string
        address_state:
          type: string
        address_zip:
          type: string
        address_country:
          type: string
        phone_number:
          type: string
        virtual:
          type: boolean
        location_group:
          $ref: '#/components/schemas/Association'
      required:
      - name
    Provider.MembershipsController.bill_body:
      type: object
      properties:
        start_date:
          type: string
          format: date
          description: Date must be formatted as YYYY-MM-DD.
      required:
      - start_date
    Public.CompanyAccountBlueprint_for_membership_one:
      type: object
      properties:
        id:
          type: string
        company:
          $ref: '#/components/schemas/Public.CompanyBlueprint_leaf'
    Public.MembershipBillBlueprint_shared_with_invoice:
      type: object
      properties:
        amount_in_cents:
          type: integer
          format: int32
        charges_amount_in_cents:
          type: integer
          format: int32
        coupon_discount_in_cents:
          type: integer
          format: int32
        coupon_discount_months:
          type: integer
          format: int32
        coupon_percent_off:
          type: integer
          format: int32
        date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        list_price_in_cents:
          type: integer
          format: int32
        membership_amount_in_cents:
          type: integer
          format: int32
        period_in_months:
          type: integer
          format: int32
        rate_in_cents:
          type: integer
          format: int32
        registration_fee_in_cents:
          type: integer
          format: int32
        start_date:
          type: string
          format: date
        customer_invoice:
          $ref: '#/components/schemas/Public.Payable.InvoiceBlueprint_for_membership_bill'
    Public.MembershipBlueprint_one:
      type: object
      properties:
        id:
          type: string
        bill_date:
          type: string
          format: date
        billed_through_date:
          type: string
          format: date
        billing_start_date:
          type: string
          format: date
        bills_at_end_of_period:
          type: boolean
        contract_expiration_action:
          type: string
        contract_expires:
          type: string
          format: date
        contract_period_in_months:
          type: integer
          format: int32
        created_at:
          type: string
          format: date-time
        end_date:
          type: string
          format: date
        enrollment_status:
          type: string
        fixed_period_rate_in_cents:
          type: integer
          format: int32
        fixed_registration_fee_in_cents:
          type: integer
          format: int32
        group_code:
          type: string
        is_confirmed:
          type: string
        is_current:
          type: boolean
        is_processing:
          type: boolean
        is_restartable:
          type: boolean
        list_price_in_cents:
          type: integer
          format: int32
        next_bill_date:
          type: string
          format: date
        period_in_months:
          type: string
        period_rate_in_cents:
          type: integer
          format: int32
        rate_in_cents:
          type: integer
          format: int32
        source_status:
          type: string
        start_date:
          type: string
          format: date
        status:
          type: string
        updated_at:
          type: string
          format: date-time
        coupon:
          $ref: '#/components/schemas/Public.CouponBlueprint_one'
        membership_patients:
          $ref: '#/components/schemas/Public.MembershipPatientBlueprint_for_membership_one'
        owner:
          $ref: '#/components/schemas/Public.PatientBlueprint_leaf'
        plan:
          $ref: '#/components/schemas/Public.PlanBlueprint_min'
        sponsorship:
          $ref: '#/components/schemas/Public.CompanyAccountBlueprint_for_membership_one'
        upcoming_bills:
          $ref: '#/components/schemas/Public.MembershipBillBlueprint_shared_with_invoice'
    Public.MembershipPatientBlueprint_for_membership_one:
      type: object
      properties:
        id:
          type: string
        member_type:
          type: string
        fixed_period_rate_in_cents:
          type: integer
          format: int32
        list_price_in_cents:
          type: integer
          format: int32
        period_rate_in_cents:
          type: integer
          format: int32
        revenue_in_cents:
          type: integer
          format: int32
        start_date:
          type: string
          format: date
        uses_tobacco:
          type: boolean
        end_date:
          type: string
        patient:
          $ref: '#/components/schemas/Public.PatientBlueprint_leaf'
    Public.PatientBlueprint_leaf:
      type: object
      properties:
        id:
          type: string
        address_city:
          type: string
        address_country:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        address_state:
          type: string
        address_zip:
          type: string
        age:
          type: string
        chosen_first_name:
          type: string
        chosen_last_name:
          type: string
        chosen_middle_name:
          type: string
        chosen_suffix:
          type: string
        chosen_title:
          type: string
        created_at:
          type: string
          format: date-time
        dob:
          type: string
          format: date
        electronic_communication_consent_accepted:
          type: string
        electronic_communication_consent_accepted_at:
          type: string
        email:
          type: string
        engaged:
          type: boolean
        external_link_id:
          type: string
        first_name:
          type: string
        gender:
          type: string
        gender_identity:
          type: string
        gender_other:
          type: string
        health_insurance_group_id:
          type: string
        health_insurance_member_id:
          type: string
        health_insurance_payer_id:
          type: string
        health_insurance_payer_name:
          type: string
        hipaa_authorization_accepted:
          type: boolean
        hipaa_authorization_accepted_at:
          type: string
          format: date-time
        import_id:
          type: string
        import_source:
          type: string
        joined_practice_date:
          type: string
          format: date
        last_engagement_date:
          type: string
          format: date
        last_name:
          type: string
        lead_source_other:
          type: string
        master_record_sponsor:
          type: string
        membership_status:
          type: string
        middle_name:
          type: string
        name:
          type: string
        patient_agreement_accepted:
          type: boolean
        patient_agreement_accepted_at:
          type: string
          format: date-time
        preferred_language:
          type: string
        pronouns:
          type: string
        provider_web_link:
          type: string
        sex:
          type: string
        suffix:
          type: string
        terms_accepted:
          type: boolean
        terms_accepted_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        uses_tobacco:
          type: boolean
        lead_source:
          $ref: '#/components/schemas/Public.LeadSourceBlueprint_one'
        phones:
          $ref: '#/components/schemas/Public.PhoneBlueprint_leaf'
        sponsorships:
          $ref: '#/components/schemas/Public.CompanySponsorshipBlueprint_for_patient'
    Public.Payable.InvoiceBlueprint_for_membership_bill:
      type: object
      properties:
        id:
          type: string
        human_status:
          type: string
        invoice_number:
          type: string
        status:
          type: string
        amount_in_cents:
          type: integer
          format: int32
        date:
          type: string
          format: date
        payment_scheduled_on:
          type: string
        type:
          type: string
    Provider.MembershipsController.cancel_body:
      type: object
      properties:
        end_date:
          type: string
          format: date
          description: It must line up with the membership's bill_date (not next_bill_date).
            Eg. A membership that bills on the 5th must end on the 5th. Date must
            be formatted as YYYY-MM-DD.
        cancellation_reason:
          $ref: '#/components/schemas/Association'
        cancellation_reason_other:
          type: string
          description: Description required when sending cancellation_reason of "Other"
      required:
      - end_date
      - cancellation_reason
    Public.MembershipContractBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          end_date:
            type: string
            format: date
          memo:
            type: string
          start_date:
            type: string
            format: date
    Provider.MembershipContractsController.renew_body:
      type: object
      properties:
        memo:
          type: string
    Public.MembershipContractBlueprint_one:
      type: object
      properties:
        id:
          type: string
        end_date:
          type: string
          format: date
        memo:
          type: string
        start_date:
          type: string
          format: date
    Provider.MembershipContractsController.update_body:
      type: object
      properties:
        end_date:
          type: string
          format: date
        billing_end_date:
          type: string
          format: date
    MembershipCreateSanitizer:
      type: object
      properties:
        membership_patients:
          type: array
          items:
            $ref: '#/components/schemas/MembershipUpdateSanitizer.MembershipPatient'
          description: Members can be used as an alias for membership_patients
        plan:
          $ref: '#/components/schemas/Association'
        owner:
          $ref: '#/components/schemas/Association'
        sponsorship:
          $ref: '#/components/schemas/Association'
        start_date:
          type: string
          format: date
          description: Sponsored memberships must start on the 1st of the month. Retail
            memberships may start any day. Date must be formatted as YYYY-MM-DD.
        end_date:
          type: string
          format: date
          description: Date must be formatted as YYYY-MM-DD.
        period_in_months:
          type: integer
          format: int32
          description: Billing period in months. 1 = monthly, 3 = quarterly, 6 = semi-annually,
            12 = annually
          enum:
          - '1'
          - '3'
          - '6'
          - '12'
        fixed_period_rate_in_cents:
          type: integer
          format: int32
        fixed_registration_fee_in_cents:
          type: integer
          format: int32
      required:
      - membership_patients
      - plan
      - start_date
      - period_in_months
    MembershipUpdateSanitizer.MembershipPatient:
      type: object
      properties:
        patient:
          $ref: '#/components/schemas/MembershipUpdateSanitizer.Patient'
        start_date:
          type: string
          format: date
          description: Defaults to Membership start date if not given. Sponsored memberships
            must start on the 1st of the month. Retail memberships may start any day.
            Date must be formatted as YYYY-MM-DD.
        member_type:
          type: string
          description: Choose one below. "employee" should only be used on sponsored
            memberships. Only one employee may be designated per sponsored membership.
            For non-sponsored memberships, all adults may be sent as "spouse" (naming
            convention may be updated in the future). All child dependents on all
            memberships may be sent as "child"
          enum:
          - child
          - spouse
          - employee
        fixed_period_rate_in_cents:
          type: integer
          format: int32
          description: Use this to override the standard rates that the membership
            plan would generate
      required:
      - patient
      - member_type
    MembershipUpdateSanitizer.Patient:
      type: object
      properties:
        id:
          type: string
        uses_tobacco:
          type: boolean
      required:
      - id
    Public.MembershipBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          bill_date:
            type: string
            format: date
          billed_through_date:
            type: string
            format: date
          billing_start_date:
            type: string
            format: date
          bills_at_end_of_period:
            type: boolean
          contract_expiration_action:
            type: string
          contract_expires:
            type: string
            format: date
          contract_period_in_months:
            type: integer
            format: int32
          created_at:
            type: string
            format: date-time
          end_date:
            type: string
            format: date
          enrollment_status:
            type: string
          fixed_period_rate_in_cents:
            type: integer
            format: int32
          fixed_registration_fee_in_cents:
            type: integer
            format: int32
          group_code:
            type: string
          is_confirmed:
            type: string
          is_current:
            type: boolean
          is_processing:
            type: boolean
          is_restartable:
            type: boolean
          last_bill_amount_in_cents:
            type: integer
            format: int32
          last_bill_date:
            type: string
            format: date
          list_price_in_cents:
            type: integer
            format: int32
          never_been_billed:
            type: boolean
          next_bill_date:
            type: string
            format: date
          period_in_months:
            type: string
          period_rate_in_cents:
            type: integer
            format: int32
          rate_in_cents:
            type: integer
            format: int32
          source_status:
            type: string
          start_date:
            type: string
            format: date
          status:
            type: string
          updated_at:
            type: string
            format: date-time
          coupon:
            $ref: '#/components/schemas/Public.CouponBlueprint_one'
          membership_patients:
            $ref: '#/components/schemas/Public.MembershipPatientBlueprint_leaf_with_patient'
          owner:
            $ref: '#/components/schemas/Public.PatientBlueprint_leaf'
          plan:
            $ref: '#/components/schemas/Public.PlanBlueprint_min'
          sponsorship:
            $ref: '#/components/schemas/Public.CompanyAccountBlueprint_for_membership_one'
          upcoming_bills:
            $ref: '#/components/schemas/Public.MembershipBillBlueprint_shared_with_invoice'
    Public.MembershipPatientBlueprint_leaf_with_patient:
      type: object
      properties:
        end_date:
          type: string
        enrollment_requested_on:
          type: string
          format: date
        enrollment_status:
          type: string
        member_type:
          type: string
        start_date:
          type: string
          format: date
        status:
          type: string
        uses_tobacco:
          type: boolean
        patient:
          $ref: '#/components/schemas/Public.PatientBlueprint_min'
    Provider.MembersController.cancel_body:
      type: object
      properties:
        end_date:
          type: string
          format: date
          description: If an end date is not provided, we will default to ending after
            the most recently billed month. Date must be formatted as YYYY-MM-DD.
        cancellation_reason:
          $ref: '#/components/schemas/Association'
        cancellation_reason_other:
          type: string
          description: Description required when sending cancellation_reason of "Other"
      required:
      - cancellation_reason
    Public.MembershipMemberBlueprint_one:
      type: object
      properties:
        id:
          type: string
        member_type:
          type: string
        status:
          type: string
        fixed_period_rate_in_cents:
          type: integer
          format: int32
        list_price_in_cents:
          type: integer
          format: int32
        period_rate_in_cents:
          type: integer
          format: int32
        revenue_in_cents:
          type: integer
          format: int32
        start_date:
          type: string
          format: date
        end_date:
          type: string
        patient:
          $ref: '#/components/schemas/Public.PatientBlueprint_leaf'
    MembershipPatientSanitizer:
      type: object
      properties:
        patient:
          $ref: '#/components/schemas/MembershipPatientSanitizer.PatientSanitizer'
        start_date:
          type: string
          format: date
          description: Defaults to Membership start date if not given. Sponsored memberships
            must start on the 1st of the month. Retail memberships may start any day.
            Date must be formatted as YYYY-MM-DD.
        member_type:
          type: string
          description: 'Choose one below. You can think of "spouse" as "adult". This
            is a naming issue that will hopefully be addressed in the future. Note:
            "employee" is not an accepted value as you cannot add employees to existing
            memberships.'
          enum:
          - child
          - spouse
        fixed_period_rate_in_cents:
          type: integer
          format: int32
          description: Use this to override the standard rates that the membership
            plan would generate
      required:
      - patient
      - member_type
    MembershipPatientSanitizer.PatientSanitizer:
      type: object
      properties:
        id:
          type: string
        uses_tobacco:
          type: boolean
      required:
      - id
    Public.MembershipMemberBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          end_date:
            type: string
          fixed_period_rate_in_cents:
            type: integer
            format: int32
          list_price_in_cents:
            type: integer
            format: int32
          member_type:
            type: string
          period_rate_in_cents:
            type: integer
            format: int32
          revenue_in_cents:
            type: integer
            format: int32
          start_date:
            type: string
            format: date
          status:
            type: string
          patient:
            $ref: '#/components/schemas/Public.PatientBlueprint_leaf'
    MembershipUpdateSanitizer:
      type: object
      properties:
        membership_patients:
          type: array
          items:
            $ref: '#/components/schemas/MembershipUpdateSanitizer.MembershipPatient'
          description: Members can be used as an alias for membership_patients
        plan:
          $ref: '#/components/schemas/Association'
        owner:
          $ref: '#/components/schemas/Association'
        start_date:
          type: string
          format: date
          description: Sponsored memberships must start on the 1st of the month. Retail
            memberships may start any day. Date must be formatted as YYYY-MM-DD.
        end_date:
          type: string
          format: date
          description: Date must be formatted as YYYY-MM-DD.
        period_in_months:
          type: integer
          format: int32
          description: Billing period in months. 1 = monthly, 3 = quarterly, 6 = semi-annually,
            12 = annually
          enum:
          - '1'
          - '3'
          - '6'
          - '12'
        fixed_period_rate_in_cents:
          type: integer
          format: int32
        fixed_registration_fee_in_cents:
          type: integer
          format: int32
      required:
      - membership_patients
      - plan
      - start_date
      - period_in_months
    Platform.OauthsController.tokens_body:
      title: OAuth
      type: object
      properties:
        grant_type:
          type: string
        code:
          type: string
        activate:
          type: boolean
          description: Defaults to true. Pass false to keep the integration pending
            after token exchange.
      required:
      - grant_type
      - code
    Platform.IntegrationBlueprint_one_with_access_token:
      type: object
      properties:
        id:
          type: string
        access_token:
          type: string
        expires_in:
          type: string
        refresh_token:
          type: string
        status:
          type: string
        token_type:
          type: string
        webhook_url_default:
          type: string
          deprecated: true
        webhook_url_override:
          type: string
          deprecated: true
        activated_by:
          $ref: '#/components/schemas/Platform.UserBlueprint_min'
        api_keys:
          $ref: '#/components/schemas/Platform.ApiKeyBlueprint_shared'
        practice:
          $ref: '#/components/schemas/Platform.PracticeBlueprint_for_integration'
        product:
          $ref: '#/components/schemas/Platform.PartnerProductBlueprint_min'
    Platform.PartnerProductBlueprint_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
    Platform.UserBlueprint_min:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
    Platform.ApiKeyBlueprint_shared:
      type: object
      properties:
        deactivated_at:
          type: string
        description:
          type: string
        last_used_at:
          type: string
        token:
          type: string
    PartnerChargeLine:
      type: object
      properties:
        quantity:
          type: integer
        price_in_cents:
          type: integer
        description:
          type: string
        charge_item:
          type: object
          properties:
            id:
              type: string
              description: Optional if name, code and code_type are specified
            name:
              type: string
              description: Required if no ID
            code:
              type: string
              description: Required if no ID
            code_type:
              type: string
              description: Required if no ID
              enum:
              - cpt
              - ndc
              - loinc
              - snowmed
            manufacturer:
              type: string
            days_supply:
              type: integer
          required:
          - id
          - name
          - code
          - code_type
      required:
      - id
      - type
    Provider.PartnerChargesController.create_body:
      title: Create_PartnerCharge
      type: object
      properties:
        amount_in_cents:
          type: integer
          format: int32
        description:
          type: string
        patient:
          $ref: '#/components/schemas/Association'
        integration_record_id:
          type: string
        lines:
          type: array
          items:
            $ref: '#/components/schemas/PartnerChargeLine'
        cost_in_cents:
          type: integer
          format: int32
      required:
      - amount_in_cents
      - description
      - integration_record_id
    Public.PartnerChargeBlueprint_one:
      type: object
      properties:
        id:
          type: string
        amount_in_cents:
          type: string
        description:
          type: string
    Public.PartnerChargeBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          amount_in_cents:
            type: string
          description:
            type: string
    Provider.Patients.Interactions.PartnerController.create_body:
      title: Create_PartnerInteraction
      type: object
      properties:
        status:
          type: string
          description: ' The status of the interaction.'
          enum:
          - draft
          - signed
          - addended
          - deleted
          - failed
        title:
          type: string
          description: The title of the interaction.
        integration_record_id:
          type: string
        integration_error_message:
          type: string
        integration_web_link:
          type: string
      required:
      - status
    Provider.Patients.Interactions.PartnerController.update_body:
      title: Update_PartnerInteraction
      type: object
      properties:
        status:
          type: string
          description: ' The status of the interaction.'
          enum:
          - draft
          - signed
          - addended
          - deleted
          - failed
        title:
          type: string
          description: The title of the interaction.
        integration_record_id:
          type: string
        integration_error_message:
          type: string
        integration_web_link:
          type: string
      required:
      - status
    Platform.PartnerBlueprint_one:
      type: object
      properties:
        id:
          type: string
        active:
          type: string
        email:
          type: string
        logo_url:
          type: string
        name:
          type: string
        organization_id:
          type: string
        requires_mfa:
          type: string
        status:
          type: string
        webhook_url:
          type: string
    Platform.PartnersController.update_body:
      title: Update_Partner_Legacy
      type: object
      properties:
        webhook_url:
          type: string
        marketing_url:
          type: string
        support_url:
          type: string
        product_description:
          type: string
        integration_description:
          type: string
        email:
          type: string
        logo_url:
          type: string
    SocialSecurityNumber:
      title: Create_SSN
      type: object
      properties:
        number:
          type: string
    EmergencyContact:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        relationship:
          type: string
          enum:
          - spouse
          - parent
          - sibling
          - child
          - grandparent
          - guardian
          - other
        relationship_other:
          type: string
        phone:
          type: object
          properties:
            number:
              type: number
            type:
              type: string
            us_formattable:
              type: boolean
              description: Make this false if your number is not exactly 10 digits
          required:
          - number
          - type
    Provider.PatientsController.create_body:
      title: Create_Patient
      type: object
      properties:
        first_name:
          type: string
          description: This should be the patients legal first name.
        last_name:
          type: string
          description: This should be the patients legal last name.
        middle_name:
          type: string
          description: This should be the patients middle name.
        title:
          type: string
        suffix:
          type: string
        chosen_first_name:
          type: string
        chosen_last_name:
          type: string
        chosen_middle_name:
          type: string
        chosen_title:
          type: string
        chosen_suffix:
          type: string
        pronouns:
          type: string
          description: May be one of `He/Him/His`, `She/Her/Hers` or `They/Them/Theirs`.
            Other values sent will be stored as free text.
        email:
          type: string
        sex:
          type: string
          description: May send `male`, `female`, or `intersex`.
        gender:
          type: string
          description: This field will be deprecated on March 31st 2021.
        gender_identity:
          type: string
          description: May send `man`, `woman`, `trans man`, `trans woman`, `nonbinary`,
            or `not listed`. If you send `not listed`, please include a description
            in the `gender_other` field.
        gender_other:
          type: string
          description: Used to specify gender identity, when not listed.
        dob:
          type: string
          format: date
          description: Date must be formatted as YYYY-MM-DD.
        lead_source:
          $ref: '#/components/schemas/Association'
        practitioner:
          $ref: '#/components/schemas/Association'
        location:
          $ref: '#/components/schemas/Association'
        emergency_contact:
          $ref: '#/components/schemas/EmergencyContact'
        phones:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        ssn:
          $ref: '#/components/schemas/SocialSecurityNumber'
        health_insurance_group_id:
          type: string
        health_insurance_member_id:
          type: string
        health_insurance_payer_name:
          type: string
        health_insurance_payer_id:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        address_city:
          type: string
        address_state:
          type: string
        address_zip:
          type: string
        address_country:
          type: string
        import_id:
          type: string
          description: (deprecated)
        import_source:
          type: string
          description: (deprecated)
        external_link_id:
          type: string
          description: (deprecated)
        integration_record_id:
          type: string
        integration_error_message:
          type: string
        integration_web_link:
          type: string
        preferred_language:
          type: string
          description: May send `en` or `es`.
        last_engagement_date:
          type: string
          format: date
          description: Date must be formatted as YYYY-MM-DD.
        electronic_communication_consent_accepted:
          type: boolean
        patient_agreement_accepted:
          type: boolean
      required:
      - first_name
      - last_name
    Public.PatientBlueprint_all:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          address_city:
            type: string
          address_country:
            type: string
          address_line1:
            type: string
          address_line2:
            type: string
          address_state:
            type: string
          address_zip:
            type: string
          age:
            type: string
          chosen_first_name:
            type: string
          chosen_last_name:
            type: string
          chosen_middle_name:
            type: string
          chosen_suffix:
            type: string
          chosen_title:
            type: string
          created_at:
            type: string
            format: date-time
          dob:
            type: string
            format: date
          electronic_communication_consent_accepted:
            type: string
          electronic_communication_consent_accepted_at:
            type: string
          email:
            type: string
          engaged:
            type: boolean
          external_link_id:
            type: string
          first_name:
            type: string
          gender:
            type: string
          gender_identity:
            type: string
          gender_other:
            type: string
          health_insurance_group_id:
            type: string
          health_insurance_member_id:
            type: string
          health_insurance_payer_id:
            type: string
          health_insurance_payer_name:
            type: string
          hipaa_authorization_accepted:
            type: boolean
          hipaa_authorization_accepted_at:
            type: string
            format: date-time
          import_id:
            type: string
          import_source:
            type: string
          joined_practice_date:
            type: string
            format: date
          last_engagement_date:
            type: string
            format: date
          last_name:
            type: string
          lead_source_other:
            type: string
          master_record_sponsor:
            type: string
          membership_status:
            type: string
          middle_name:
            type: string
          name:
            type: string
          patient_agreement_accepted:
            type: boolean
          patient_agreement_accepted_at:
            type: string
            format: date-time
          preferred_language:
            type: string
          pronouns:
            type: string
          provider_web_link:
            type: string
          sex:
            type: string
          suffix:
            type: string
          terms_accepted:
            type: boolean
          terms_accepted_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
          uses_tobacco:
            type: boolean
          account:
            $ref: '#/components/schemas/Public.PatientBlueprint_account'
          company:
            $ref: '#/components/schemas/Public.CompanyBlueprint_leaf'
          emergency_contact:
            $ref: '#/components/schemas/Common.EmergencyContactBlueprint_shared'
          external_records:
            $ref: '#/components/schemas/Public.ExternalRecordBlueprint_min'
          known_practice:
            $ref: '#/components/schemas/Public.KnownPracticeBlueprint_min'
          lead_source:
            $ref: '#/components/schemas/Public.LeadSourceBlueprint_one'
          location:
            $ref: '#/components/schemas/Public.LocationBlueprint_one'
          location_group:
            $ref: '#/components/schemas/Public.LocationGroupBlueprint_leaf'
          membership_members:
            $ref: '#/components/schemas/Public.MembershipMemberBlueprint_for_patient'
          memberships:
            $ref: '#/components/schemas/Public.MembershipPatientBlueprint_one'
          merged_into:
            $ref: '#/components/schemas/Public.PatientBlueprint_min'
          phones:
            $ref: '#/components/schemas/Public.PhoneBlueprint_leaf'
          practitioner:
            $ref: '#/components/schemas/Public.PractitionerBlueprint_one'
          practitioner_group:
            $ref: '#/components/schemas/Public.LocationGroupBlueprint_leaf'
          sponsorships:
            $ref: '#/components/schemas/Public.CompanySponsorshipBlueprint_for_patient'
          ssn:
            $ref: '#/components/schemas/Common.SocialSecurityNumberBlueprint_masked'
    Provider.PatientsController.matching_body:
      title: Match_Patients
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        middle_name:
          type: string
        email:
          type: string
        dob:
          type: string
          format: date
          description: Date must be formatted as YYYY-MM-DD.
[...]
